ul.source, ul.target, ul.source2, ul.target2 {
  min-height: 50px;
  max-width: 250px;
  margin: 0px 25px 10px 0px;
  padding: 2px;
  border-width: 3px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
}
ul.source, ul.source2  {
  border-color: #FF7171;
}
ul.target, ul.target2 {
  border-color: #add38d;
}
.source li, .target li, .source2 li, .target2 li {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}
.source li, .source2 li  {
  background-color: #FFDFDF;
  border: 1px solid #FF8566;
  color: #E62E00;
}
.target li, .target2 li {
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #468847;
}
.sortable-dragging {
  border-color: #ccc !important;
  background-color: #FFD1D1 !important;
  color: #bbb !important;
}
.sortable-placeholder {
  height: 40px;
}
.source .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}
.target .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}

.source2 .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}
.target2 .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}