<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js" data-ng-app="app">
<!--<![endif]-->

<head>
    <title>Principal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Our Dashboard">
    <meta name="author" content="The Develovers">
    
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen"> 
    
    <!-- CSS DE UPLOADER-->   
    <link type="text/css" rel="stylesheet" href="css/uploader/common.css">    
    <!-- CSS DE UPLOADER--> 
      
    
    <!-- CSS de BARRA LOGIN -->
    <link href="css/barralogin/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/barralogin/main.min.css" rel="stylesheet" type="text/css">   
    <!-- Termina CSS de BARRA LOGIN -->

    <script src="js/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var jQuery_1_6_3 = $.noConflict(true);
    </script>

    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>
    <script src="js/NewsGoth_400.font.js" type="text/javascript"></script>
	<script src="js/NewsGoth_700.font.js" type="text/javascript"></script>
    <script src="js/NewsGoth_Lt_BT_italic_400.font.js" type="text/javascript"></script>
    <script src="js/Vegur_400.font.js" type="text/javascript"></script> 
    <script src="js/jquery.featureCarousel.js" type="text/javascript"></script>     
    <script type="text/javascript">

    (function($) {
        $(document).ready(function() {
        $("#carousel").featureCarousel({
            autoPlay:7000,
            trackerIndividual:false,
            trackerSummation:false,
            topPadding:50,
            smallFeatureWidth:.9,
            smallFeatureHeight:.9,
            sidePadding:0,
            smallFeatureOffset:0
        });
      });    
})(jQuery_1_6_3);
      
    </script>
	<!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        	<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body id="page1" >
	<div class="extra">
            <!-- TOP BAR -->
        <div class="top-bar" >
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 logo">
                        <a href="index-2.html">                         
                        </a>
                        <h1 class="sr-only">Pagina de Administracion</h1>
                    </div>
                    <!-- end logo -->
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- search box -->
                                <div id="tour-searchbox" class="input-group searchbox">
                                    
                                </div>
                                <!-- end search box -->
                            </div>
                            <div class="col-md-9">
                                <div class="top-bar-right">
                                    <!-- responsive menu bar icon -->
                                    <a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
                                    <!-- end responsive menu bar icon -->
                                    
                                    <div class="notifications">
                                        <ul>
                                            <!-- notification: inbox -->
                                            <li class="notification-item inbox">
                                                <div class="btn-group" data-ng-controller='NotificacionesController'>
                                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-envelope"></i>
                                                        <span class="count" data-ng-model="cant2">{{ cant2 }}</span>
                                                        <span class="circle"></span>
                                                    </a>

                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="notification-header" data-ng-model="cant2">
                                                            <em>Tiene {{ cant2 }} mensajes sin leer</em>
                                                        </li>
                                                        <li class="inbox-item unread clearfix" ng-repeat="item in entradas" ng-if="!item.leido">
                                                            <a href="#">
                                                                <div class="media">
                                                                    <div class="pull-left" href="#">
                                                                        <img class="media-object" src="images/imgLogin/user1.png" alt="Antonio">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="media-heading name">{{ item.emisor }}</h5>
                                                                        <p class="text">{{ item.asunto }}</p>
                                                                        <span class="timestamp">{{ item.fecha }}</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        
                                                        <li class="notification-footer">
                                                            <a href="template.html#/correspondencia">Ver todos los mensajes</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- end notification: inbox -->

                                            <!-- notification: general -->
                                            <li class="notification-item general">
                                                <div class="btn-group" data-ng-controller='NotificacionesController'>
                                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-bell"></i>
                                                        <span class="count" data-ng-model="cant"> {{ cant }}</span>
                                                        <span class="circle"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="notification-header" data-ng-model="cant">
                                                            <em>Tiene {{cant }} Notificaciones</em>
                                                        </li>

                                                        <li ng-repeat="item in notificaciones" ng-if="!item.leido">
                                                            <a href="">
                                                                <i class="fa fa-user green-font"></i>
                                                                <span class="text"> {{ item.titulo }}</span>
                                                                <span class="timestamp">{{ item.fecha }}</span>
                                                            </a>
                                                        </li>

                                                        <!--<li>
                                                            <a href="#">
                                                                <i class="fa fa-warning red-font"></i>
                                                                <span class="text red-font">Tu solicitud ha sido rechazada!</span>
                                                                <span class="timestamp">13 minutos atras</span>
                                                            </a>
                                                        </li>-->
                                                        <li class="notification-footer">
                                                            <a href="template.html#/notificaciones">Ver todas las notificaciones</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- end notification: general -->
                                        </ul>
                                    </div>

                                    <!-- logged user and the menu -->
                                    <div class="logged-user">
                                        <div class="btn-group" data-ng-controller='validadorController'>
                                            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <span class="name" data-ng-model="userLogged">{{ userLogged }}</span>
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="template.html#/Perfil">
                                                        <i class="fa fa-user"></i>
                                                        <span class="text">Perfil</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-cog"></i>
                                                        <span class="text">Configuraciones</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="webservice/logout">
                                                        <i class="fa fa-power-off"></i>
                                                        <span class="text">Cerrar Sesión</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end logged user and the menu -->
                                </div>
                                <!-- /top-bar-right -->
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    	<!--==============================header=================================-->
        <header>
        	<div class="row-top">
            	<div class="main">
                	<div class="wrapper">




                    	<h1><a href="#paginaPrincipal">GESTOFI</a></h1>
                        <form id="search-form" method="post" enctype="multipart/form-data">
                        <fieldset>	
                            <div class="search-field">
                                <input name="search" type="text" value="Buscar..." onBlur="if(this.value=='') this.value='Search...'" onFocus="if(this.value =='Search...' ) this.value=''" />
                                <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"></a>	
                            </div>						
                        </fieldset>
                    </form>
                    </div>
                </div>			
            </div>
            <div class="menu-row" data-ng-controller="validadorController">
                <div class="menu-bg">
                    <div class="main">
                        <nav class="indent-left">
                            <ul class="menu wrapper">
                                <li class="active"><a href="#paginaPrincipal">Principal</a></li>
                                <li ><a href="">Repositorio</a>
                                    <ul>
                                        <li><a title="Consultar documentos del repositorio" href="template.html#/consultarDocumento">Consultar</a></li>
                                        <li data-ng-hide="hideAlmacenar"><a title="Almacenar un documento nuevo en el repositorio" href="template.html#/subirDocumento">Almacenar</a></li>
                                    </ul>
                                </li>
                                <li data-ng-hide="hideSolicitudes"><a href="">Solicitudes</a>
                                    <ul>
                                        <li data-ng-hide="hideSolicitudEquipo"><a title="Solicitar un equipo Audio-Visual" href="template.html#/SolicitudEquipo">Equipo</a></li>
                                        <li data-ng-hide="hideSolicitudAula"><a title="Solicitar el apartado de un Aula" href="template.html#/SolicitudAula">Aula</a></li>
                                        <li class="ultimo" data-ng-hide="hideSolicitudVacaciones"><a title="Realizar una solicitud para una gira o vacaciones" href="template.html#/SolicitudGiras_Vacaciones">Giras/Vacaciones</a></li>
                                    </ul>
                                </li>
                                <li data-ng-hide="hideAgenda"><a href="template.html#/agenda">Calendario</a></li>
								<li data-ng-hide="hideCorrespondencia"><a href="">Correspondencia</a>
                                    <ul>
                                        <li><a title="Enviar Correspondencia"href="template.html#/EnviarCorrespondencia">Enviar</a></li>
                                        <li><a title="Consultar Correspondencia"href="template.html#/correspondencia">Consultar</a></li>
										 										
                                     </ul>
                                </li>
                                <li data-ng-hide="hideConfiguracion"><a href="">Configuracion</a>
                                    <ul>
                                        <li><a title="Configurar los roles del sistema"href="template.html#/ConfigRol">Roles</a></li>
                                        <li><a title="Configurar los usuarios del sistema"href="template.html#/ConfigUsuarios">Usuarios</a></li>
										<li><a title="Aceptar o Rechazar solicitud"href="template.html#/RespuestaSolicitud">Solicitudes</a></li> 										
                                        <li class="ultimo"><a title="Configuración del sistema" href="template.html#ConfigTipos">sistema</a></li>
                                    </ul>
                                <!-- </li>
                                <li><a title="Sección informativa del sistema" href="acerca.html">Acerca de</a>
                                </li> -->
                            </ul>
                        </nav>
                   </div> 
                </div>
            </div>
            <div class="row-bot">
                <div class="center-shadow">
                    <div class="carousel-container">
                      <div id="carousel">
                        <div class="carousel-feature">
                          <a href="#"><img class="carousel-image" alt="" src="images/gallery-img1.png"></a>
                        </div>
                        <div class="carousel-feature">
                          <a href="#"><img class="carousel-image" alt="" src="images/gallery-img3.png"></a>
                        </div>
                        <div class="carousel-feature">
                          <a href="#"><img class="carousel-image" alt="" src="images/gallery-img2.png"></a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </header>         
        <!--==============================content================================-->
        <section id="content"><div class="ic"></div>
            <div class="main">
                <div class="container_12">
                    <div class="wrapper">
                        <article class="grid_8">
                            <h3>Acerca</h3>
                            <em class="text-1 margin-bot">GESTOFI es un sistema de información para suplir algunas necesidades de la <a class="link" target="_blank" href="http://www.ri.una.ac.cr/">Escuela de Relaciones Internacionales de la Universidad Nacional</a> y creado por estudiantes de informática.</em>
                            <div class="wrapper p4">
                                <article class="grid_4 alpha">
                                    <div class="wrapper p1">
                                        <figure class="img-indent2"><img src="images/rsz_documentos.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                            <div class="indent-top">
                                                <h4>Repositorio de Documentos<em>Sub</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">Consulta o Almacena los documentos.</p>
                                    <a class="link-1" href="#">Ir</a>
                                </article>
                                <article class="grid_4 omega">
                                    <div class="wrapper p1">
                                        <figure class="img-indent2"><img src="images/page1-img4.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                            <div class="indent-top">
                                                <h4>Solicitudes<em>Sub 2</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">Solicita equipo, aulas, vacaciones o giras.</p>
                                    <a class="link-1" href="#">Ir</a>
                                </article>
                            </div>
                            <div class="wrapper">
                                <article class="grid_4 alpha">
                                    <div class="wrapper p1">
                                        <figure class="img-indent2"><img src="images/rsz_calendario.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                            <div class="indent-top">
                                                <h4>Calendario<em>Sub 3</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">Observa las actividades mas importantes dentro de la escuela de Relaciones Internacionales.</p>
                                    <a class="link-1" href="#">Ir</a>
                                </article>
                                <article class="grid_4 omega">
                                    <div class="wrapper p1">
                                        <figure class="img-indent2"><img src="images/rsz_correspondencia.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                            <div class="indent-top">
                                                <h4>Correspondencia<em>Sub 4</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">Envia y recibe correspondencia.</p>
                                    <a class="link-1" href="#">Ir</a>
                                </article>
                            </div>
                        </article>
                        <article class="grid_4">
                            <h3>Columna</h3>
                            <div class="wrapper p3">
                                <figure class="img-indent"><a href="#"><img class="img-border" src="images/page1-img5.jpg" alt="" /></a></figure>
                                <div class="extra-wrap">
                                    <span class="text-2">Director</span>
                                    <h4 class="p2">Nombre</h4>
                                    <p class="prev-indent-bot">asdasdasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasdasdasdasdasd</p>
                                    <a class="link-1" href="#">Leer más</a>
                                </div>
                            </div>
                            <div class="wrapper p3">
                                <figure class="img-indent"><a href="#"><img class="img-border" src="images/page1-img6.jpg" alt="" /></a></figure>
                                <div class="extra-wrap">
                                    <span class="text-2">Sub Director</span>
                                    <h4 class="p1">Nombre 2</h4>
                                    <p class="prev-indent-bot">asdasdasdasdasdassssssssssssssssssssssssssdsdsdsdsdsd</p>
                                    <a class="link-1" href="#">Leer más</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <figure class="img-indent"><a href="#"><img class="img-border" src="images/page1-img7.jpg" alt="" /></a></figure>
                                <div class="extra-wrap">
                                    <span class="text-2">Otro cargo</span>
                                    <h4 class="prev-indent-bot">Nombre 3</h4>
                                    <p class="prev-indent-bot">asdasdasdpsdsssssssssssssssssssdasdasdasdasasd...</p>
                                    <a class="link-1" href="#">Leer más</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="block"></div>
        </section>
    </div>
	
	<!--==============================footer=================================-->
    <footer>
        <div class="padding">
            <div class="main">
                <div class="container_12">
                    <div class="wrapper">
                        
                        <article class="grid_4">                            
                            <h4 class="indent-bot">Contáctanos:</h4>
                            <ul class="list-services border-bot img-indent-bot">
                                <li><a href="https://www.facebook.com/rriiuna?fref=ts">Facebook</a></li>
                                <li><a class="item-1" href="#">Twitter</a></li>
                                <li><a class="item-2" href="#">Picassa</a></li>
                                <li><a class="item-3" href="#">You Tube</a></li>
                            </ul>
                            <p class="p1"></p>
                            <p class="p1"></p>
                            <!-- {%FOOTER_LINK} -->
                            <p class="p1"></p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
	<script type="text/javascript"> Cufon.now(); </script>
	
    <!--Angular script-->
	<script type="text/javascript" src="js/jquery2.1.3/jquery.min.js" ></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>  -->
    <script type="text/javascript" src="js/angular1.3.10/angular.js" ></script> 
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script> -->
    <script type="text/javascript" src="js/angular1.3.10/angular-route.js" ></script> 
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script> -->
    
    <script src="js/uploader/angular-file-upload.min.js"></script> 
    <script src="js/uploader/angular-file-upload-shim.min.js"></script>
    <script src="js/angular-scroll.js"></script>

    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

    <!--DATEPICKER-->
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker2.js" charset="UTF-8"></script> 

    <script src="js/bootstrap-datepicker.js"></script> 
    
    <script src="js/modules/validador.js"></script>
    <script src="js/modules/miAutentificador.js"></script>
    <script src="js/modules/miCorrespondencia.js"></script>
    <script src="js/modules/miPerfil.js"></script>
    <script src="js/modules/misAulas.js"></script>
    <script src="js/modules/misDocs.js"></script>
    <script src="js/modules/misEquipos.js"></script>
    <script src="js/modules/misReservas.js"></script>
    <script src="js/modules/misRoles.js"></script>
    <script src="js/modules/misSolicitudes.js"></script>
    <script src="js/modules/misUsers.js"></script>
    <script src="js/modules/miAgenda.js"></script>
    <script src="js/modules/misConfigTipos.js"></script>
    <script src="js/modules/misNotificaciones.js"></script> 
    <script src="js/modules/routes.js"></script>
    <script src="js/modules/app.js"></script>

   

    <!-- <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>  -->
    <script type="text/javascript" src="js/twitter-bootstrap2.2.2/bootstrap.min.js" ></script>  

</body>
</html>
