<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Formulario de Registro</title>

    <link rel="stylesheet" href="css/stylelogin.css" media="screen" type="text/css" />

</head>

<body data-ng-app="myAppAutentificacion" data-ng-controller="autentificacionController">

        <div id="titulo"> 
        	<center> <img src="images/re4.png"> </center>
        	<center> <img src="images/gestofi.PNG"> </center>
        </div>


        <div id="login">
          <div id="triangle"></div>
          <h1>Ingrese la Siguiente Información</h1>
         

        <div class="cuadroDatos">
          <input type="text" name="username" data-ng-model="username" placeholder="Usuario">
          <input type="text" name="fullname" data-ng-model="fullname" placeholder="Nombre Completo">
          <input type="text" name="email" data-ng-model="email" placeholder="Correo Electrónico">
          <input type="text" name="role" data-ng-model="role" placeholder="Role">
          <input type="password" name="password" data-ng-model="password" placeholder="Contraseña">
          <input type="button" value="Confirmar" ng-click="registrar()"/>  
        </div>


        <h4 ng-show="mensajeErrorRegistro">Error! Usuario o Correo en Uso</h4> 


        <!--Angular script-->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src= "js/modules/miAutentificador.js"></script>

        <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>

</body>

</html>