<!DOCTYPE html>
<html >
<head>
    <title>Almacenar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">       
    <link rel="stylesheet" href="css/Combo.css" type="text/css" media="screen"> 

    <!-- CSS DE UPLOADER-->   
    <link type="text/css" rel="stylesheet" href="css/uploader/common.css">    
    <!-- CSS DE UPLOADER--> 
    
    <!-- CSS de BARRA LOGIN -->
    <link href="css/barralogin/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/barralogin/main.min.css" rel="stylesheet" type="text/css">      
    <!-- Termina CSS de BARRA LOGIN -->    
   
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>
    <script src="js/NewsGoth_400.font.js" type="text/javascript"></script>
    <script src="js/NewsGoth_700.font.js" type="text/javascript"></script>
    <script src="js/NewsGoth_Lt_BT_italic_400.font.js" type="text/javascript"></script>
    <script src="js/Vegur_400.font.js" type="text/javascript"></script> 
    

  <!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
          <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
  <![endif]-->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
</head>
<body data-ng-app="myAppDocs" data-ng-controller="docController">
  <div class="extra">
                    <!-- TOP BAR -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 logo">
                        <a href="index-2.html">                         
                        </a>
                        <h1 class="sr-only">Pagina de Administracion</h1>
                    </div>
                    <!-- end logo -->
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- search box -->
                                <div id="tour-searchbox" class="input-group searchbox">
                                    
                                </div>
                                <!-- end search box -->
                            </div>
                            <div class="col-md-9">
                                <div class="top-bar-right">
                                    <!-- responsive menu bar icon -->
                                    <a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
                                    <!-- end responsive menu bar icon -->
                                    
                                    <div class="notifications">
                                        <ul>
                                            <!-- notification: inbox -->
                                            <li class="notification-item inbox">
                                                <div class="btn-group">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-envelope"></i>
                                                        <span class="count">2</span>
                                                        <span class="circle"></span>
                                                    </a>

                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="notification-header">
                                                            <em>Tiene 2 mensajes Sin leer</em>
                                                        </li>
                                                        <li class="inbox-item unread clearfix">
                                                            <a href="#">
                                                                <div class="media">
                                                                    <div class="pull-left" href="#">
                                                                        <img class="media-object" src="images/imgLogin/user1.png" alt="Antonio">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="media-heading name">Andres</h5>
                                                                        <p class="text">Revisar plan de estudios</p>
                                                                        <span class="timestamp">4 minutes atras</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="inbox-item unread clearfix">
                                                            <a href="#">
                                                                <div class="media">
                                                                    <div class="pull-left" href="#">
                                                                        <img class="media-object" src="images/imgLogin/user2.png" alt="Antonio">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="media-heading name">Jose</h5>
                                                                        <p class="text">Oficio 1234</p>
                                                                        <span class="timestamp">2 horas atras</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="inbox-item clearfix">
                                                            <a href="#">
                                                                <div class="media">
                                                                    <div class="pull-left" href="#">
                                                                        <img class="media-object" src="images/imgLogin/user3.png" alt="Antonio">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="media-heading name">Natasha</h5>
                                                                        <p class="text">Correspondencia 3</p>
                                                                        <span class="timestamp">Junio 4</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        
                                                        <li class="notification-footer">
                                                            <a href="#">Ver todos los mensajes</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- end notification: inbox -->

                                            <!-- notification: general -->
                                            <li class="notification-item general">
                                                <div class="btn-group">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-bell"></i>
                                                        <span class="count">2</span>
                                                        <span class="circle"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="notification-header">
                                                            <em>Tiene 2 Notificaciones</em>
                                                        </li>

                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-user green-font"></i>
                                                                <span class="text">Te invitaron a un evento</span>
                                                                <span class="timestamp">12 minutos atras</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-warning red-font"></i>
                                                                <span class="text red-font">Tu solicitud ha sido rechazada!</span>
                                                                <span class="timestamp">13 minutos atras</span>
                                                            </a>
                                                        </li>
                                                        <li class="notification-footer">
                                                            <a href="#">Ver todas las notificaciones</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- end notification: general -->
                                        </ul>
                                    </div>

                                    <!-- logged user and the menu -->
                                    <div class="logged-user">
                                        <div class="btn-group">
                                            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <span class="name" data-ng-model="userLogged">{{ userLogged }}</span>
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="Perfil.html">
                                                        <i class="fa fa-user"></i>
                                                        <span class="text">Perfil</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-cog"></i>
                                                        <span class="text">Configuraciones</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="webservice/logout">
                                                        <i class="fa fa-power-off"></i>
                                                        <span class="text">Cerrar sesión</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end logged user and the menu -->
                                </div>
                                <!-- /top-bar-right -->
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
      <!--==============================header=================================-->
        <header>
            <div class="row-top">
                <div class="main">
                    <div class="wrapper">
                        <h1><a href="paginaPrincipal.html">Consulting</a></h1>
                        <form id="search-form" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="search-field">
                                    <input name="search" type="text" value="Buscar..." onBlur="if(this.value=='') this.value='Search...'" onFocus="if(this.value =='Search...' ) this.value=''" />
                                    <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"></a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="menu-row">
                <div class="menu-bg">
                    <div class="main">
                        <nav class="indent-left">
                            <ul class="menu wrapper">
                                <li class="active"><a href="paginaPrincipal.html">Principal</a></li>
                               <li><a href="#">Repositorio</a>
                                    <ul>
                                        <li><a title="Consultar documentos del repositorio" href="ConsultarDocumento.html">Consultar</a></li>
                                        <li><a title="Almacenar un documento nuevo en el repositorio" href="SubirDocumento.html">Almacenar</a></li>
                                    </ul>
                                </li>
                               <li><a href="#">Solicitudes</a>
                                    <ul>
										<li><a title="Solicitar un equipo Audio-Visual" href="SolicitudEquipo.html">Equipo</a></li>
                                    	<li><a title="Solicitar el apartado de un Aula" href="SolicitudAula.html">Aula</a></li>
                                        <li class="ultimo"><a title="Realizar una solicitud para una gira o vacaciones" href="SolicitudGiras_Vacaciones.html">Giras/Vacaciones</a></li>
                                        
                                    </ul>
                                </li>
                                <li><a href="agenda.html">Calendario</a></li>
								<li><a href="#">Correspondencia</a>
                                    <ul>
                                        <li><a title="Enviar Correspondencia"href="EnviarCorrespondencia.html">Enviar</a></li>
                                        <li><a title="Consultar Correspondencia"href="correspondencia.html">Consultar</a></li>
										 										
                                     </ul>
                                </li>
                                <li><a href="#">Configuracion</a>
                                    <ul>
                                        <li><a title="Configurar los roles del sistema"href="ConfigRol.html">Roles</a></li>
                                        <li><a title="Configurar los usuarios del sistema"href="ConfigUsuarios.html">Usuarios</a></li>
										<li><a title="Aceptar o Rechazar solicitud"href="RespuestaSolicitud.html">Solicitudes</a></li>                                        
                                        <li class="ultimo"><a title="Configuración del sistema" href="#">sistema</a></li>
                                    </ul>
                                <!-- </li>
                                <li><a title="Sección informativa del sistema" href="acerca.html">Acerca de</a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row-bot">
                <div class="center-shadow">
                </div>
            </div>
        </header>
        
        <!--==============================content================================-->
        <section id="content"><div class="ic"></div>
            <div class="content-bg">
                <div class="main">
                    <div class="container_12">
                        <div class="wrapper">
                          <div class="container">

                            <h3>Información Del Documento a Subir</h3>                                  
                                <div class="row clearfix">                                 
								 	
                                    <div class="col-md-6 column">
                                        <h3>Código del Documento</h3>
                                        <div class="sideBySide">                                        
                                            <input type="text" ng-model="codigo"> 
                                        </div>                                      
                                    </div>	

                                    <div class="col-md-6 column">
                                        <h3>Tipos Disponibles</h3>
                                        <div class="sideBySide">
                                            <div class="left"> 
                                                <span class="css3-metro-dropdown">
                                                    <select ng-model="tipo" ng-options="tipo.nombre for tipo in tiposDocumento"></select>
                                                </span>
                                            </div>                                        
                                        </div>                                      
                                    </div>              
                                </div>
                          <br>
                          <br>

                          <h3>Subir Archivo</h3>
                                    <!-- Empieza seccion de subida de archivo--> 
                                <div class="wrapper">                                      
                                    <div class="upload-div">
                                        
                                        <div class="upload-buttons">
                                                <fieldset class="fielset-uploader"><legend>Subir Archivo</legend>
                                                    <div class="up-buttons">
                                                        <div ng-file-select ng-model="files" class="upload-button" 
                                                               ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles" 
                                                               tabindex="0">Adjuntar una Imagen o PDF</div><br/>
                                                        <button ng-file-select ng-model="files" 
                                                                ng-multiple="true" class="btn btn-success">Adjuntar cualquier archivo</button>
                                                    </div>
                                                    <div ng-file-drop ng-file-select ng-model="files" ng-model-rejected="rejFiles"
                                                        drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                                                        ng-multiple="true" allow-dir="true" ng-accept="'image/*,application/pdf'">
                                                            Soltar imágenes o archivos PDF<div>O click para Seleccionar</div>
                                                    </div>
                                                    <div ng-no-file-drop class="drop-box">File Farg&Drop not supported on your browser</div>
                                                </fieldset>
                                                <br/>
                                        </div>
                                        <ul ng-show="rejFiles.length > 0" class="response">
                                            <li class="sel-file" ng-repeat="f in rejFiles">
                                                Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                                            </li>
                                        </ul>
                                        <ul ng-show="files.length > 0" class="response">
                                            <li class="sel-file" ng-repeat="f in files">
                                                <img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumb">
                                                <span class="progress" ng-show="f.progress >= 0">                       
                                                    <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                                                </span>             
                                                <button class="button" ng-click="f.upload.abort();f.upload.aborted=true" 
                                                        ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
                                                {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                                                <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
                                                <div ng-show="f.showDetail">
                                                    <br/>
                                                    <div data-ng-show="f.result.result == null">{{f.result}}</div>
                                                    <ul>
                                                        <li ng-repeat="item in f.result.result">
                                                            <div data-ng-show="item.name">file name: {{item.name}}</div>
                                                            <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                                            <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                                            <div data-ng-show="item.value">value: {{item.value}}</div>
                                                        </li>
                                                    </ul>
                                                    <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
                                                </div>
                                            </li>
                                        </ul>

                                        <br/>
                                        <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                                    </div>

                                    

                                </div>                                                
                          <button class="btn btn-success" ng-click="SubirDoc()">
                                        <span class="glyphicon glyphicon-save"></span>  Guardar
                          </button> 
                          <br>
                          <br>
                          <h4 ng-show="mensajeExitoSubidaDoc">Documento Subido con exito</h4>
                          <h4 ng-show="mensajeFallidoSubidaDoc">Subida Fallida del Documento</h4>


                            <!-- MODAL-SUBIR  -->
                           <div id="ModalSubir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                 <div class="modal-dialog">
                                   <div class="modal-content">

                                     <div class="modal-header">
                                        
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                       <h4 class="modal-title" id="myModalLabel"> Subir documento</h4>
                                     </div>
                                     <div class="modal-body">                                                         
                                     Confirme Que Desea Subir El/Los documento/s Al Repositorio
                                     </div>
                                     <div class="modal-footer">
                                       <button data-dismiss="modal" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                        </button>

                                        <button data-dismiss="modal" class="btn btn-success" id="confirmSubir">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                       
                                     </div>

                                   </div>
                                 </div>
                               </div>
                            <!-- TERMINA MODAL-SUBIR  -->



                        
                    </div>
                </div>
                <div class="block"></div>
            </div>
        </section>
    </div>
  
  <!--==============================footer=================================-->
    <footer>
        <div class="padding">
            
        </div>
    </footer>
  <script type="text/javascript"> Cufon.now(); </script>
  <!--Angular script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>
    
    <script src="js/uploader/angular-file-upload.min.js"></script> 
    <script src="js/uploader/angular-file-upload-shim.min.js"></script>
    <script src="js/modules/misDocs.js"></script>
  
   <!-- Javascript BARRA LOGIN-->
   <script type="text/javascript"src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>  
 <!-- <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>-->


</body>
</html>
