<div class="content-bg" >
    <div class="main">
        <div class="container_12">
            <div class="wrapper">                                                        
                <ul class="nav nav-tabs">
                      <li class="active"><a href="#home" data-toggle="tab">Investigaciones</a></li>
                      <li><a href="#estudiante" data-toggle="tab">Estudiantes</a> </li>
                      <li><a href="#papeleria" data-toggle="tab">Papeleria</a></li>
                      <li><a href="#correos" data-toggle="tab">Correos</a></li>
                </ul>

            <div id="myTabContent" class="tab-content"> <!--inicia tabs -->
                    
                    <div class="tab-pane active in" id="home">
                     <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentos De Investigaciones</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                     <div class="row">
                                                <form role="form">
                                                    <div class="col-lg-12">

                                                        <div class ="form-group">
                                                            <h3 data-ng-show="edit">Buscar Documento:</h3>
                                                        </div>
                                                                                                   
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <input name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" ng-model="search.fecha">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                            </div>                                               
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <hr>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="info">
                                                        <th>Fecha</th>
                                                        <th>Nombre</th>
                                                        <th>Código</th>
                                                        <th>Rol</th>
                                                        <th>Tipo</th>
                                                        <th>Editar</th>
                                                        <th>Actualizar</th>
                                                        <th>Descargar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Investigacion'}">
                                                        <td>{{ doc.fecha  }}</td>
                                                        <td>{{ doc.nombre }}</td>
                                                        <td>{{ doc.codigo  }}</td>
                                                        <td>{{ doc.Role }}</td>
                                                        <td>{{ doc.tipo }}</td>
                                                        <td>
                                                            <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button> 
                                                        </td>
                                                        <td>
                                                            <button data-backdrop="false" data-target="#Modal2" data-toggle="modal" class="btn btn-success" ng-click="actDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-remove" ></span>
                                                            </button>  

                                                        </td>
                                                    </tr>
                                                  </tbody>
                                                                                <!--Finaliza Tabla-->
                                            </table>

                            </div>           

                      </center>
                    </div>
            <!-- Termina primer pestaña-->
                    <div class="tab-pane fade" id="estudiante">
                        <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentos De Estudiantes</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                <form role="form">
                                                    <div class="col-lg-12">

                                                        <div class ="form-group">
                                                            <h3 data-ng-show="edit">Buscar Documento:</h3>
                                                        </div>
                                                                                                   
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <input id="dp2" name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" data-date-format="mm/dd/yy" ng-model="search.fecha">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                            </div>                                               
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <hr>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="info">
                                                        <th>Fecha</th>
                                                        <th>Nombre</th>
                                                        <th>Código</th>
                                                        <th>Rol</th>
                                                        <th>Tipo</th>
                                                        <th>Editar</th>
                                                        <th>Actualizar</th>
                                                        <th>Descargar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Estudiante'}">
                                                        <td>{{ doc.fecha  }}</td>
                                                        <td>{{ doc.nombre }}</td>
                                                        <td>{{ doc.codigo  }}</td>
                                                        <td>{{ doc.Role }}</td>
                                                        <td>{{ doc.tipo }}</td>
                                                        <td>
                                                            <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button> 
                                                        </td>
                                                        <td>
                                                            <button data-backdrop="false" data-target="#Modal2" data-toggle="modal" class="btn btn-success" ng-click="actDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-remove" ></span>
                                                            </button>  

                                                        </td>
                                                    </tr>
                                                  </tbody>
                                                                                <!--Finaliza Tabla-->
                                            </table>
                            </div>           

                        </center>
                    </div>
            <!-- Termina segunda pestaña-->
                    <div class="tab-pane fade" id="papeleria">
                        <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentos De Papelería</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                <form role="form">
                                        <div class="col-lg-12">

                                            <div class ="form-group">
                                                <h3 data-ng-show="edit">Buscar Documento:</h3>
                                            </div>
                                                                                       
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <input id="dp2" name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" data-date-format="mm/dd/yy" ng-model="search.fecha">
                                                </div>

                                                <div class="col-md-3">
                                                    <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                </div>                                               
                                            </div>
                                        </div>
                                </form>

                            </div>
                                <hr>

                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                            <th>Fecha</th>
                                            <th>Nombre</th>
                                            <th>Código</th>
                                            <th>Rol</th>
                                            <th>Tipo</th>
                                            <th>Editar</th>
                                            <th>Actualizar</th>
                                            <th>Descargar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Papeleria'}">
                                            <td>{{ doc.fecha  }}</td>
                                            <td>{{ doc.nombre }}</td>
                                            <td>{{ doc.codigo  }}</td>
                                            <td>{{ doc.Role }}</td>
                                            <td>{{ doc.tipo }}</td>
                                            <td>
                                                <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button> 
                                            </td>
                                            <td>
                                                <button data-backdrop="false" data-target="#Modal2" data-toggle="modal" class="btn btn-success" ng-click="actDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-remove" ></span>
                                                </button>  

                                            </td>
                                        </tr>
                                      </tbody>
                                                                    <!--Finaliza Tabla-->
                                </table>
                            </div>           

                        </center>
                    </div>
            <!-- Termina tercer pestaña-->
                    <div class="tab-pane fade" id="correos">
                        <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Correos Electrónicos</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                <form role="form">
                                                    <div class="col-lg-12">

                                                        <div class ="form-group">
                                                            <h3 data-ng-show="edit">Buscar Documento:</h3>
                                                        </div>
                                                                                                   
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <input id="dp2" name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" data-date-format="mm/dd/yy" ng-model="search.fecha">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                            </div>                                               
                                                        </div>
                                                    </div>
                                                </form>

                            
                            </div>
                                            <hr>

                                    <table class="table table-striped">
                                        <thead>
                                            <tr class="info">
                                                <th>Fecha</th>
                                                <th>Nombre</th>
                                                <th>Código</th>
                                                <th>Rol</th>
                                                <th>Tipo</th>
                                                <th>Editar</th>
                                                <th>Actualizar</th>
                                                <th>Descargar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Correo'}">
                                                <td>{{ doc.fecha  }}</td>
                                                <td>{{ doc.nombre }}</td>
                                                <td>{{ doc.codigo  }}</td>
                                                <td>{{ doc.Role }}</td>
                                                <td>{{ doc.tipo }}</td>
                                                <td>
                                                    <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button> 
                                                </td>
                                                <td>
                                                    <button data-backdrop="false" data-target="#Modal2" data-toggle="modal" class="btn btn-success" ng-click="actDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-remove" ></span>
                                                    </button>  

                                                </td>
                                            </tr>
                                          </tbody>
                                                                        <!--Finaliza Tabla-->
                                    </table>
                            </div>           

                        </center>
                    </div>       
            <!-- Termina cuarta pestaña-->

            </div><!-- Terminan los tabs-->


                                    <!-- MODAL EDITAR-->
                                    <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                     <div class="modal-dialog">
                                       <div class="modal-content">

                                         <div class="modal-header">
                                            
                                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                           <h4 class="modal-title" id="myModalLabel"> Editar informacion de documento</h4>
                                         </div>
                                         <div class="modal-body">
                                         
                                         

                                         <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Nombre:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" data-ng-model="nombre" placeholder="Nombre">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Tipo:</label>
                                                    <div class="col-sm-5">
                                                       <select class="form-control" data-ng-model="tipo">
                                                            <option>Formulacion De Proyecto</option>
                                                            <option>Minutas Anañisis de Oficios</option>
                                                            <option>Plan De Estudio</option>
                                                            <option>Descriptores De Programas</option>
                                                            <option>Malla Curricular</option>
                                                            <option>Oficios</option>
                                                            <option>Constancias</option>
                                                            <option>Memorandos</option>
                                                            <option>Circulares</option>
                                                            <option>Correos Electronicos</option>
                                                        </select>
                                                    </div>                                            
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Seguridad:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" data-ng-model="seguridad">    
                                                            <option>Alta</option>
                                                            <option>Media</option>
                                                            <option>Baja</option>
                                                            <option>Ninguna</option>
                                                        </select>                                                 
                                                    </div>                                            
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Rol:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" data-ng-model="Role">
                                                            <option>Director</option>
                                                            <option>Subdirector</option>
                                                            <option>Asistente Administrativa</option>
                                                            <option>Encargado de Maestría</option>
                                                            <option>Secretaria</option>
                                                            <option>Personal Academico</option>
                                                        </select>
                                                    </div>                                            
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Clasificación:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" data-ng-model="clasificacion">
                                                            <option>Investigacion</option>
                                                            <option>Estudiante</option>
                                                            <option>Papeleria</option>
                                                            <option>Correo</option>          
                                                        </select>
                                                    </div>                                            
                                                </div>
                                            </form>
                                         
                                         </div>
                                         <div class="modal-footer">
                                           <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                           <button class="btn btn-success" data-ng-disabled="incomplete" id="confirm" data-dismiss="modal">
                                               <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                           </button>
                                         </div>

                                       </div>
                                     </div>
                                   </div>
                                    <!-- FINALIZA MODAL EDITAR-->   
                                   
                                    <!-- MODAL ACTUALIZAR-->
                                        <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                         <div class="modal-dialog">
                                           <div class="modal-content">

                                                 <div class="modal-header">
                                                    
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel"> Actualizar version documento</h4>
                                                 </div>
                                                 
                                                 <div class="modal-body">                                 
                                                     <form id="upload" action="index.html" method="POST" enctype="multipart/form-data">
                                                              <fieldset>                                            
                                                                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
                                                                <div>
                                                                  <label for="fileselect">Archivos a subir:</label>
                                                                  <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                                                                  <div id="filedrag">o Arrastre los Archivos Aquí.</div>
                                                                </div>

                                                                <div id="submitbutton">
                                                                  <button type="submit">Subir Archivos</button>
                                                                </div>
                                                              </fieldset>

                                                    </form>
                                                    <div id="messages"><p>Mensajes de Estado</p></div>
                                                        <!--BARRA DE CARGA-->
                                                        <div class="progress">
                                                          <div class="progress-bar progress-bar-info progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                            <span class="sr-only">45% Complete</span>
                                                          </div>
                                                        </div>
                                                 </div>

                                            </div>

                                             <div class="modal-footer">
                                               <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                               <button class="btn btn-success" data-ng-disabled="error || incomplete">
                                                   <span class="glyphicon glyphicon-save"></span>  Actualizar
                                               </button>
                                             </div>

                                           </div>
                                         </div>                                                        
                                    <!-- FINALIZA MODAL ACTUALIZAR-->


                                    <!-- MODAL ELIMINAR-->
                                        <!-- Esta comentado para hacer pruebas -->
                                        <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                               <div class="modal-content">

                                                 <div class="modal-header">
                                                    
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel"> Eliminar documento</h4>
                                                 </div>
                                                 <div class="modal-body">                                                         
                                                 Confirme que desea eliminar este documento del repositorio
                                                 </div>
                                                 <div class="modal-footer">
                                                   <button data-dismiss="modal" class="btn btn-danger">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                    </button>

                                                    <button data-dismiss="modal" class="btn btn-success" id="confirm">
                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                   
                                                 </div>

                                               </div>
                                             </div>
                                           </div>
                                    <!-- FINALIZA MODAL ELIMINAR -->                      
            </div>
        </div> 
    </div>
</div>                       
