<!--==============================content================================-->        
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
              <h3>Solicitud de Giras y Vacaciones</h3>
              <h2>Descargue la plantilla del documento, complete la plantilla con sus datos y cargue el archivo </h2>
                <br>
                <div class="container">
                   <div class="row">
                        <form role="form">
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button class="btn btn-info" ng-click="abrirSolicitud(1)">
                                        <span class="glyphicon glyphicon-download"></span>  Giras
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-info" ng-click="abrirSolicitud(2)">
                                        <span class="glyphicon glyphicon-download"></span>  Vacaciones
                                        </button>
                                    </div><br>
                                    

                                    <div class="upload-buttons">
                                        <fieldset class="fielset-uploader"><legend>Subir Archivo</legend>
                                            <div class="up-buttons">
                                                <button ng-file-select ng-model="files" 
                                                ng-multiple="false" class="btn btn-success" >Adjuntar cualquier archivo
                                                </button>
                                            </div>

                                            <div ng-file-drop ng-file-select ng-model="files" ng-model-rejected="rejFiles"
                                            drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                                            ng-multiple="true" allow-dir="true" ng-accept="'image/*,application/pdf'" class="ng-hide">
                                                Arrastre su solicitud<div>O click para Seleccionar</div>
                                            </div>
                                            <div ng-no-file-drop class="drop-box">File Farg&Drop not supported on your browser</div>                                
                                        </fieldset>
                                        <br/>
                                    </div>


                                </div>
                            </div>
                        </form> 
                    </div>
                </div>                       
            </div>
        </div>
    </div>
</div>
  
