<!--==============================content================================-->
<div class="content-bg">
    <div class="wrapper" >       
        <div id="content_wrapper">
        <br>
        <br>
        <div id='calendar'>
		</div>
        </div>
        

<!-- INICIA MODAL ver-->
                         <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                                <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Informacion de la Actividad</h4>
                                     </div>
                                     <div class="modal-body">
                                         <form class="form-horizontal">
										          <div class="form-group">
                                                 <label class="col-sm-2 control-label">Actividad:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" data-ng-disabled="!edit" class="form-control" data-ng-model="title" >
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Autor:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" data-ng-disabled="!edit" data-ng-model="autor" class="form-control" >
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Lugar:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" data-ng-disabled="!edit" class="form-control" data-ng-model="lugar" >
                                                 </div>
                                             </div>
											 <div class="form-group">
                                                 <label class="col-sm-2 control-label">Inicio:</label>
                                                 <div class="col-sm-3">
												                                             
                                                     <input type="text" data-ng-disabled="!edit" class="form-control" data-ng-model="start" >
                                                 </div>
                                             </div>
											 	 <div class="form-group">
                                                 <label class="col-sm-2 control-label">Finaliza:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" data-ng-disabled="!edit" class="form-control" data-ng-model="end" >
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Descripcion:</label>
                                                 <div class="col-sm-3">
                                                     <textarea class="textAreaRol" data-ng-disabled="!edit" data-ng-model="descripcion" data-ng-model="descripcion" ></textarea>
                                                 </div>
                                             </div>
											 
											 
                                         </form>                                     
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                       <button class="btn btn-success" data-ng-disabled="error || incomplete">
                                           <span class="glyphicon glyphicon-save"></span>Editar
                                       </button>
                                     </div>
                                </div>
                             </div>
                        </div>
                                 <!--TERMINA ver Actividad-->
</div>
</div>
<!-- INICIA MODAL Agregar-->
                         <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                                <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Informacion de la Nueva Actividad</h4>
                                     </div>
                                     <div class="modal-body">
                                         <form class="form-horizontal" id="modalform">
										 <div class="form-group">
                                                 <label class="col-sm-2 control-label">Actividad:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" class="form-control" data-ng-model="actividadA">
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Autor:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" class="form-control" data-ng-model="autorA">
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Lugar:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" class="form-control" data-ng-model="lugarA">
                                                 </div>
                                             </div>
											 <div class="form-group">
												<label for="dtp_input2" class="col-md-2 control-label">Inicia:</label>
												<div class="input-group date form_date col-md-3" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
													<input id="startA" data-ng-model="startA" class="form-control" size="16" type="text" value="" readonly>
													
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
												<input type="hidden" id="dtp_input2" value="" /><br/>
											</div>
											<div class="form-group">
												<label for="dtp_input2" class="col-md-2 control-label">Finaliza:</label>
												<div class="input-group date form_date col-md-3" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
													<input data-ng-model="endA" class="form-control" size="10" type="text" value="" >
													
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
												<input type="hidden" id="dtp_input2" value="" /><br/>
											</div>
                                             
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Descripcion:</label>
                                                 <div class="col-sm-3">
                                                     <textarea class="textAreaRol" data-ng-model="descripcionA" ></textarea>
                                                 </div>
                                             </div>
											 
											 
                                         </form>                                     
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									   
                                       <button class="btn btn-success" data-ng-click="agregarActividad()">
									  <!-- data-ng-disabled="error || incomplete" -->
                                           <span class="glyphicon glyphicon-save"></span>Guardar Cambios
                                       </button>
                                     </div>
                                </div>
                             </div>
                        </div>
                                 <!--TERMINA AGREGA Actividad-->
<!--==============================content=================================-->
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap-datepicker2.js" charset="UTF-8"></script> 