<!--==============================content================================-->
<div class="content-bg">
    <div class="wrapper" >       
        <div id="content_wrapper">
        <br>
        <br>
        <div id='calendar'>
		</div>
        </div>
        

<!-- INICIA MODAL ver-->
                         <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                                <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Informacion de la Actividad</h4>
                                     </div>
                                     <div class="modal-body">
                                         <form class="form-horizontal">
											  <div class="form-group">
                                                 <label class="col-sm-2 control-label">Actividad:</label> 
                                                 <div class="col-sm-3">
                                                     <input type="text"  data-ng-disabled="incomplete" class="form-control" data-ng-model="title" >
												 </div>
													<label class="col-sm-2 control-label">Invitados:</label>
												<div class="col-sm-3">
													<tags-input data-ng-disabled="incomplete" data-ng-model="invitado" display-property="fullname"  >
														<auto-complete source="loadTags($query)" min-length="2" load-on-focus="true" load-on-empty="true" load-on-down-arrow="true" select-first-match="false"></auto-complete>
													</tags-input> 
												</div>
											 </div>
                                             
											 <div class="form-group">
                                                 <label class="col-sm-2 control-label">Autor:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" data-ng-disabled="!edit" data-ng-model="autor" class="form-control" >
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Lugar:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" data-ng-disabled="incomplete" class="form-control" data-ng-model="lugar" >
                                                 </div>
                                             </div>
											 <div class="form-group">
                                                 <label for="dtp_input2" class="col-sm-2 control-label">Inicia:</label>
                                                 <div class="input-group date form_date col-md-3" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
												                                             
                                                     <input type="text" data-ng-disabled="incomplete" class="form-control" data-ng-model="start">
													 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                 </div>
												 <input type="hidden" id="dtp_input2" value="" />
                                             
												   <label for="dtp_input2" data-ng-disabled="incomplete" class="col-md-2 control-label">Hora:</label>
												   <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
													   <input id="horaS" data-ng-disabled="incomplete" data-ng-model="horaS" class="form-control" size="10" type="text" value="" >
													   
													<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
												   </div>
												<input type="hidden" id="dtp_input2" value="" /><br/>
											</div>
											 											 										 
											 <div class="form-group">
                                                 <label for="dtp_input2" class="col-sm-2 control-label">Finaliza:</label>
                                                 <div class="input-group date form_date col-md-3" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                     <input type="text" data-ng-disabled="incomplete" class="form-control" data-ng-model="end" >
													 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                 </div>
												 <input type="hidden" id="dtp_input2" value="" />
                                             
												   <label for="dtp_input2" class="col-md-2 control-label">Hora:</label>
												   <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
													   <input id="horaE" data-ng-model="horaE" data-ng-disabled="incomplete" class="form-control" size="10" type="text" value="" >
													   
													<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
												   </div>
												<input type="hidden" id="dtp_input2" value="" /><br/>
											</div>	
																																																												
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Descripcion:</label>
                                                 <div class="col-sm-3">
                                                     <textarea class="textAreaRol" data-ng-disabled="incomplete" data-ng-model="descripcion" data-ng-model="descripcion" ></textarea>
                                                 </div>
                                             </div>
											 
											 
                                         </form>                                     
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default"  data-dismiss="modal">Cerrar</button>
                                       <button data-ng-hide="incomplete" class="btn btn-warning" data-ng-click="actualizaAct()">
                                           <span class="glyphicon glyphicon-pencil"></span>Editar
                                       </button>
									   <button data-ng-hide="incomplete" class="btn btn-danger" data-ng-click="eliminarAct()">
									   <span class="glyphicon glyphicon-remove"></span>Eliminar
                                       </button>
                                     </div>
                                </div>
                             </div>
                        </div>
                                 <!--TERMINA ver Actividad-->
</div>
</div>
<!-- INICIA MODAL Agregar-->
                         <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                                <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Informacion de la Nueva Actividad</h4>
                                     </div>
                                     <div class="modal-body">
                                         <form class="form-horizontal" id="modalform">
										 <div class="form-group">
                                                 <label class="col-sm-2 control-label">Actividad:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" class="form-control" data-ng-model="actividadA">
                                                 </div>
												 <label class="col-sm-2 control-label">Invitados:</label>
												<div class="col-sm-3">
													<tags-input data-ng-model="invitadoA" display-property="fullname" >
														<auto-complete source="loadTags($query)" min-length="2" load-on-focus="true" load-on-empty="true" load-on-down-arrow="true" select-first-match="false"></auto-complete>
													</tags-input> 
												</div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Lugar:</label>
                                                 <div class="col-sm-3">
                                                     <input type="text" class="form-control" data-ng-model="lugarA">
                                                 </div>
                                             </div>
											 <div class="form-group">
												<label for="dtp_input2" class="col-md-2 control-label">Inicia:</label>
												<div class="input-group date form_date col-md-3" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
													<input id="startA" data-ng-model="startA" class="form-control" size="10" type="text" value="" >
													
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div> 
												<input type="hidden" id="dtp_input2" value="" />
											
											
												   <label for="dtp_input2" class="col-md-2 control-label">Hora:</label>
												   <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
													   <input id="horaSA" data-ng-model="horaSA" class="form-control" size="10" type="text" value="" >
													   
													<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
												   </div>
												<input type="hidden" id="dtp_input2" value="" /><br/>
											</div>
														
											
											<div class="form-group">
												<label for="dtp_input2" class="col-md-2 control-label">Finaliza:</label>
												<div class="input-group date form_date col-md-3" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
													<input id="endA" data-ng-model="endA" class="form-control" size="10" type="text" value="" >
													
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
												<input type="hidden" id="dtp_input2" value="" />
											
                                             
											 	   <label for="dtp_input2" class="col-md-2 control-label">Hora:</label>
												   <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
													   <input id="horaEA" data-ng-model="horaEA" class="form-control" size="10" type="text" value="">
													   
													<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
												   </div>
												<input type="hidden" id="dtp_input2" value="" /><br/>
											</div>

                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Descripcion:</label>
                                                 <div class="col-sm-3">
                                                     <textarea class="textAreaRol" data-ng-model="descripcionA" ></textarea>
                                                 </div>
                                             </div>
											 
											 
                                         </form>                                     
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									   
                                       <button class="btn btn-success" data-ng-click="agregarActividad()">
									  <!-- data-ng-disabled="error || incomplete" -->
                                           <span class="glyphicon glyphicon-save"></span>Guardar Cambios
                                       </button>
                                     </div>
                                </div>
                             </div>
                        </div>
                                 <!--TERMINA AGREGA Actividad-->
								 
<!-- INICIA MODAL confirmacion eliminar-->
			<div id="Modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                               <div class="modal-content">

                                                 <div class="modal-header">
                                                    
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel"> Eliminar Actividad</h4>
                                                 </div>
                                                 <div class="modal-body">                                                         
                                                 Confirme que desea eliminar esta actividad de la Agenda
                                                 </div>
                                                 <div class="modal-footer">
                                                   <button data-dismiss="modal" class="btn btn-danger">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                    </button>

                                                    <button data-dismiss="modal" class="btn btn-success" id="confirm">
                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                   
                                                 </div>

                                               </div>
                                             </div>
                                           </div>					 
								  <!--TERMINA confirmacion Eliminar-->
<!--==============================content=================================-->
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap-datepicker2.js" charset="UTF-8"></script> 
<!--https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css -->
