<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <div class="container">
                <!--------------------TABLA---------------------------------------->
                <table class="table table table-hover">
                    <thead>
                    <tr class="info">
                        <th>Manual de Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in ayuda" data-ng-click="abrirVideo(item.video)">
                        <td>{{ item.nombre }}</td>
                    </tr>                 
                    </tbody>                
                </table>
                <!--Finaliza Tabla-->
                </div>
            </div>
        </div>    
    </div>
</div>