<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <!--<div class="container">-->
                <!--------------------TABLA---------------------------------------->
                <table class="table table table-hover">
                    <thead>
                    <tr class="info">
                        <th>Manual</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in ayuda" data-ng-click="abrirVideo(item.video)">
                        <td>{{ item.nombre }}</td>
                    </tr>
                    <!--<tr href="http://gestofi.com/webservice/ManualUsuario/agenda.mp4">-->
                        <!--<td>Manual Agenda</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/configRol.mp4">-->
                        <!--<td>Manual de Configuracion Rol</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/configSis.mp4">-->
                        <!--<td>Manual de Configuracion del Sistema</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/configUsuarios.mp4">-->
                        <!--<td>Manual de Configuracion del Usuarios</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/controlReservas.mp4">-->
                        <!--<td>Manual Control de Reservas</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/correspondencia.mp4">-->
                        <!--<td>Manual Correspondencia</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/login.mp4">-->
                        <!--<td>Manual Login</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/repositorio.mp4">-->
                        <!--<td>Manual Repositorio</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/responderSolicitudes.mp4">-->
                        <!--<td>Manual Responder Solicitudes</td>-->
                    <!--</tr>-->
                    <!--<tr ng-href="http://gestofi.com/webservice/ManualUsuario/Solicitudes.mp4">-->
                        <!--<td>Manual Solicitudes</td>-->
                    <!--</tr>-->
                    </tbody>
                    <!--Finaliza Tabla-->
                </table>
            </div>
        </div>
    </div>
    <div class="block"></div>
</div>
