    <!--==============================content================================-->
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">                
                        <div class="row">
                            <form role="form">
                                <div class="col-lg-12">

                                    <div class ="form-group">
                                        <h3>Buscar Rol:</h3>
                                    </div>                                                                                       
                                    <div class="form-group">

                                        <div class="col-md-3">
                                            <input id="busqNombre" nombre="busqNombre" type="text" placeholder="nombre" class="form-control " ng-model="search.nombre">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="busqSeg" nombre="busqSeg" type="text" placeholder="seguridad" class="form-control " ng-model="search.seguridad">
                                        </div>                                               
                                    </div>
                                </div>
                            </form>
                        </div> 
                        <hr>

                            <h3>Roles</h3>

                            <table class="table table-striped">
                                <thead>
                                <tr class="info">
                                    <th>Editar</th>
                                    <th>Nombre</th>
                                    <th>Seguridad</th>                  
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="rol in roles | filter:search">
                                    <td >
	                                    <button class="btn btn-warning" ng-click="editRole(rol.id)">
	                                      <span class="glyphicon glyphicon-pencil"></span>  Editar
	                                    </button>                                        
                                    </td>
                                    <td>{{ rol.nombre }}</td>
                                    <td>{{ rol.seguridad }}</td>                                    
                                    <td > 
                                        <button class="btn btn-danger" ng-click="deleteRole(rol.id)">      
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <hr>
                            <hr>
                            <button class="btn btn-success" ng-click="crearRole()">
                            <span class="glyphicon glyphicon-user"></span>  Crear Nuevo Role
                            </button> 
                            <br>                    
                            <h4 ng-show="mensajeError">Error! En creación de Role</h4>
                            <br> 
                            <h4 ng-show="mensajeExito">Role creado con exito</h4> 
                            <br> 
                           
                            <hr>
                            <hr>
                            <hr> 

						   <!--MODAL EDITAR-->
                                          <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                               <div class="modal-content">

                                                 <div class="modal-header">
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel">Editar Informacion del Role</h4>
                                                 </div>
                                                 <div class="modal-body">   
                                                  <form class="form-horizontal">
                                                      <div class="form-group">
                                                          <label class="col-sm-2 control-label">Nombre:</label>
                                                          <div class="col-sm-5">
                                                              <input class="form-control" type="text" class="form-control" data-ng-model="nombre" data-ng-disabled="!edit">
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-sm-2 control-label">Seguridad:</label>
                                                          <div class="col-sm-5">
                                                              <select class="form-control" data-ng-model="seguridad">
                                                                  <option>Alta</option>
                                                                  <option>Media</option>
                                                                  <option>Baja</option>
                                                                  <option>Ninguna</option>
                                                              </select>
                                                          </div>
                                                      </div>                                                     
                                                  </form>
                                                  
                                                 </div>
                                                 <div class="modal-footer">
                                                   <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                   <button class="btn btn-success" data-ng-disabled="incomplete" id="confirm" data-dismiss="modal" >
                                                       <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                                   </button>
                                                 </div>

                                               </div>
                                             </div>
                                           </div>

                           <!--TERMINA MODAL-->
						   
						 <!-- INICIA MODAL-->
                         <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                                <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Informacion del Nuevo Role</h4>
                                     </div>
                                     <div class="modal-body">
                                         <form class="form-horizontal">
                                             <div class="form-group">
                                                <label class="col-sm-2 control-label">Nombre:</label>
                                                <div class="col-sm-5">
                                                    <input class="form-control" type="text" data-ng-model="nombre"  placeholder="Nombre">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">Seguridad:</label>
                                                 <div class="col-sm-5">
                                                     <select class="form-control" data-ng-model="seguridad">
                                                         <option>Alta</option>
                                                         <option>Media</option>
                                                         <option>Baja</option>
                                                         <option>Ninguna</option>
                                                     </select>
                                                 </div>
                                             </div>                                            
                                         </form>                                     
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                       <button class="btn btn-success" data-ng-disabled="incomplete" id="confirmRole" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-save" ></span>  Guardar
                                      </button>
                                     </div>
                                </div>
                             </div>
                        </div>
                                 <!--TERMINA AGREGA ROLE-->

                           <!-- MODAL 3 -->
                    <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                                   <div class="modal-content">

                                         <div class="modal-header">                                            
                                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                           <h4 class="modal-title" id="myModalLabel"> Eliminar Role</h4>
                                         </div>
                                         <div class="modal-body">                                         
                                         Confirme que desea eliminar este Role del sistema
                                         </div>
                                         <div class="modal-footer">
                                                <button data-dismiss="modal" class="btn btn-danger">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                </button>

                                                <button data-dismiss="modal" class="btn btn-success" id="confirm" >
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                </button>                                           
                                         </div>

                                   </div>
                             </div>
                    </div>
                    <!-- FINALIZA MODAL 3 -->
            </div>
        </div>         
    </div>
</div>
 

