<!--==============================content================================-->
<div class="content-bg">
  
        <div class="container_12">
            <div class="wrapper">
                <div class="container2">
                    <div class="row clearfix">
<div class="wrap">
   <nav class="prueba">
    <ul>
      <li><a href="#section-1" du-smooth-scroll du-scrollspy>Tipo Reservable</a></li>
      <li><a href="#section-2" du-smooth-scroll du-scrollspy>Reservables</a></li>
      <li><a href="#section-3" du-smooth-scroll du-scrollspy>Plantillas Solicitud</a></li>    
      <li><a href="#section-4" du-smooth-scroll du-scrollspy>Tipo Documento</a></li>     
    </ul>
  </nav>

  <section id="section-1">    
        <h2>Agregar Tipo Reservable</h2>
        <div class="col-md-6 column">
            <br>
            <div class="col-sm-8">                                        
                <input class="form-control" type="text" ng-model="nomNuevoTipo" placeholder="Nombre"></input>
            </div> 

            <div>
              <form name="btns">
                      <label for="aulaRadio">Aula:</label>
                      <input id="aulaRadio" type="radio" ng-model="selectTipoReservable" value="Aula" />

                      <label for="equipoRadio">Equipo:</label>
                      <input id="equipoRadio" type="radio" ng-model="selectTipoReservable" value="Equipo" />
              </form>
            </div>

            <div class="col-md-6 column"><br>
              <div class="sideBySide">
                <button type="button" class="btn btn-success" ng-click="agregarTipo()">Agregar</button>
              </div>                                      
           </div>                                     
        </div>
        
        <br><br><br>                             
  </section>
<hr>
  <section id="section-2">    
        <h2>Configuración Reservables</h2>

        <div class="well">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tabs"><a  data-target="{{tab.link}}" data-toggle="tab">{{tab.label}}</a></li>
                
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="agregarReservable">
                    
                        <center>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title" ><span class="name" data-ng-model="agregaReservableModel">Agregar Reservable</span></h3>
                            </div> 

                                <div class="panel-body">
                               
                                    <div class=" col-md-9 col-lg-9"> 
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>Nombre</td>
                                                    <td><div class="col-sm-8"><input class="form-control" type="text" ng-model="inputNombre"/></div></td>
                                                </tr>
                                                <tr>
                                                    <td>Tipo</td>
                                                    <td>
                                                        <div class="col-sm-8" >
                                                          <select class="form-control" ng-model="tipoSelect" ng-options="opc.nombre as opc.nombre for opc in selectTipos" 
                                                          ng-change="">
                                                          </select>                                               
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Estado fisico</td>
                                                    <td>
                                                      <div class="col-sm-8">
                                                          <select class="form-control" data-ng-model="inputEstado">    
                                                            <option>Excelente</option>
                                                            <option>Bueno</option>
                                                            <option>Malo</option>
                                                            <option>Roto</option>
                                                          </select>                                                
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Descripcion</td>
                                                    <td><div class="col-sm-8"><input class="form-control" type="text" ng-model="inputDescripcion"/></div></td>
                                                </tr>
                                                <tr>
                                                    <td>Código</td>
                                                    <td><div class="col-sm-8"><input class="form-control" type="text" ng-model="inputCodigo"/></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            <div class="panel-footer">
                                <button type="button" class="btn btn-success" ng-click="agregarReservable()">Agregar</button>
                            </div>
                        </div>    
                        </center>  
                </div>

                    <div class="tab-pane fade" id="editarReservable">
                    <form>
                        <table class="table table-striped ">
                          <thead>
                            <tr class="info">
                              <th>Editar</th>
                              <th>Nombre</th>
                              <th>Tipo</th>
                              <th>Código</th>
                              <th>Estado fisico</th>
                              <th>Descripción</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="equipo in equipos">
                              <td >
                                <button class="btn btn-warning " data-ng-click="editarModal(equipo.id,1)">
                                  <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                              </td>
                              <td>{{ equipo.nombre }}</td>
                              <td>{{ equipo.tipo }}</td>
                              <td>{{ equipo.codigo }}</td>
                              <td>{{ equipo.estado }}</td>
                              <td>{{ equipo.descripcion }}</td>
                            </tr>

                          </tbody>
                        </table>
                    </form>
                </div>

                <div class="tab-pane fade" id="editarTipo">
                    <form>
                        <table class="table table-striped ">
                          <thead>
                            <tr class="info">
                              <th>Editar</th>
                              <th>Nombre</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="tipoReservable in selectTipos">
                              <td >
                                <button class="btn btn-warning " data-ng-click="editarModal(tipoReservable.id,2)">
                                  <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                              </td>
                              <td>{{ tipoReservable.nombre }}</td>
                          
                            </tr>

                          </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
  </section>
<hr>
  <section id="section-3">    
      <h3>Actualizacion de plantillas de solicitud</h3>

      <div class="col-md-12 column">
              <h2>Plantilla a cambiar</h2>
              <div><form name="btns">
                  <label for="girasRadio">Giras:</label>
                  <input id="girasRadio" type="radio" ng-model="selectPlantilla" value="Giras" ng-click="checkOption()"/>
                  <br>
                  <label for="vacasRadio">Vacaciones:</label>
                  <input id="vacasRadio" type="radio" ng-model="selectPlantilla" value="Vacaciones" ng-click="checkOption()" />
                  <br>
                  <label for="vacasRadio">Permisos:</label>
                  <input id="vacasRadio" type="radio" ng-model="selectPlantilla" value="Permisos" ng-click="checkOption()" />
              </form></div>
              <br>
              <div class="up-buttons">
                  <button ngf-select ng-file-select ng-model="files" 
                    ngf-multiple="false" ngf-accept="'*.docx'" ng-model-rejected="rejFiles" 
                    tabindex="0" class="btn btn-success"  ng-show="btnFile">Adjuntar Plantilla
                  </button>
              </div> 
              <br><br><br>                                                          
      </div>
     <br><br><br> 
     <ul ng-show="rejFiles.length > 0" class="response">
          <br><br>
          <li class="sel-file">
            Archivo Rechazado, El archivo admitido debe ser ".docx"
          </li>
    </ul>
  </section>
<hr>
  <section id="section-4">    
      <h2>Configuración Tipos Documento</h2>

        <div class="well">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tabs2"><a  data-target="{{tab.link}}" data-toggle="tab">{{tab.label}}</a></li>
                
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="agregarTipoDocumento">
                    
                        <center>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title" ><span class="name" data-ng-model="agregaReservableModel">Agregar Tipo Documento</span></h3>
                            </div> 

                                <div class="panel-body">
                               
                                    <div class=" col-md-9 col-lg-9"> 
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>Nombre</td>
                                                    <td><div class="col-sm-8"><input class="form-control" type="text" ng-model="nombreTipoDoc"/></div></td>
                                                </tr>
                                                <tr>
                                                    <td>Seguridad</td>
                                                    <td>
                                                        <div class="col-sm-8">
                                                          <select class="form-control" data-ng-model="seguridadTipoDoc">    
                                                            <option>Alta</option>
                                                            <option>Media</option>
                                                            <option>Baja</option>
                                                            <option>Ninguna</option>
                                                          </select>                                                
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Clasificacion</td>
                                                    <td>
													<div class="col-sm-8">
                                                          <select class="form-control" data-ng-model="clasificacionTipoDoc">    
                                                              <option>Investigación</option>
                                                              <option>Estudiante</option>
                                                              <option>Administrativo</option>
                                                              <option>Correo</option>
                                                          </select>                                                
                                                        </div>
                                                    </td>
                                                </tr>
                                                                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            <div class="panel-footer">
                                <button type="button" class="btn btn-success" ng-click="agregarTipoDoc()">Agregar</button>
                            </div>
                        </div>    
                        </center>  
                </div>

                    <div class="tab-pane fade" id="editarTipoDocumento">
                    <form>
                        <table class="table table-striped ">
                          <thead>
                            <tr class="info">
                              <th>Editar</th>
                              <th>Nombre</th>
                              <th>Seguridad</th>
                              <th>Clasificacion</th>
                              <th>Eliminar</th>                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="tipoDoc in tipoDocumentos">
                              <td >
                                <button class="btn btn-warning " data-ng-click="editarTipoDoc(tipoDoc.id)">
                                  <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                              </td>
                              <td>{{ tipoDoc.nombre }}</td>
                              <td>{{ tipoDoc.seguridad }}</td>
                              <td>{{ tipoDoc.clasificacion }}</td>
                              <td >
                                <button class="btn btn-danger " data-ng-click="eliminaTipoDoc(tipoDoc.id)">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </button>
                              </td>                              
                            </tr>

                          </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

  </section>
  <!-- <footer>
    <button ng-click="toTheTop()">Take me back!</button> or <button ng-click="toSection2()">To section 2</button>
  </footer> -->
</div>

                         
                    </div> 
                         <!-- MODAL 1 -->
                <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Editar Reservable</h4>
                            </div>

                            <div class="modal-body">                                
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nombre:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="nombreModal"  placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tipo:</label>
                                        <div class="col-sm-5">
                                            <td>
                                              <select class="form-control" ng-model="tipoModal" ng-options="opc.nombre as opc.nombre for opc in selectTipos">
                                              </select>
                                            </td>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Codigo:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="codigoModal"  placeholder="Codigo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Estado fisico:</label>
                                        <div class="col-sm-5">
                                          <select class="form-control" data-ng-model="estadoModal"  placeholder="Estado">    
                                              <option>Excelente</option>
                                              <option>Bueno</option>
                                              <option>Malo</option>
                                              <option>Roto</option>
                                          </select> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripcion:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="descripcionModal"  placeholder="Descripcion">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success" data-ng-disabled="incomplete2" id="confirm" ng-click="editarReservable(equipo.id)" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
<!-- FINALIZA MODAL 1 -->

              <!-- MODAL 4 -->
                <div id="Modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Editar tipo reservable</h4>
                            </div>

                            <div class="modal-body">                                
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nombre:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="nombreModal"  placeholder="Nombre">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success" data-ng-disabled="incomplete2" id="confirm" ng-click="editarTipoReservable(tipoReservable.id)" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 

         <!-- MODAL 2 -->
                <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Editar Tipo Documento</h4>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nombre:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="nombreTipoDoc"  placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Seguridad:</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" data-ng-model="seguridadTipoDoc">    
                                                <option>Alta</option>
                                                <option>Media</option>
                                                <option>Baja</option>
                                                <option>Ninguna</option>
                                            </select>                                                 
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Clasificacion:</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" data-ng-model="clasificacionTipoDoc">    
                                                <option>Investigación</option>
                                                <option>Estudiante</option>
                                                <option>Administrativo</option>
                                                <option>Correo</option>
                                            </select>                                                 
                                        </div> 
                                    </div>                                    
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success" data-ng-disabled="incomplete2" id="confirm2" ng-click="editarTipoDoc(equipo.id)" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- FINALIZA MODAL 2 -->

                <!-- MODAL ELIMINAR-->
                                        <!-- Esta comentado para hacer pruebas -->
                                        <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                               <div class="modal-content">

                                                 <div class="modal-header">
                                                    
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel"> Eliminar Tipo documento</h4>
                                                 </div>
                                                 <div class="modal-body">                                                         
                                                 Confirme que desea eliminar este Tipo documento
                                                 </div>
                                                 <div class="modal-footer">
                                                   <button data-dismiss="modal" class="btn btn-danger">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                    </button>

                                                    <button data-dismiss="modal" class="btn btn-success" id="confirm">
                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                   
                                                 </div>

                                               </div>
                                             </div>
                                           </div>
                                    <!-- FINALIZA MODAL ELIMINAR --> 
                    <!-- CIERRA CONTENIDo-->
                    </div>
                </div>
            </div>
        </div>


 
