<!--==============================content================================-->
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper" >
<!-- FORM BUSQUEDA USUARIO --> 
                <div class="row">
                    <form role="form">
                        <div class="col-lg-12">

                            <div class ="form-group">
                                <h3>      Buscar Usuario:</h3>
                            </div>                                                                                       
                            <div class="form-group">

                                <div class="col-md-3">
                                    <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.fullname">
                                </div>
                                <div class="col-md-3">
                                    <input id="busqRol" name="busqRol" type="text" placeholder="Role" class="form-control " ng-model="search.role">
                                </div>                                               
                            </div>
                        </div>
                    </form>
                </div> 

<!-- END FORM BUSQUEDA USUARIO -->
                <br>
                <br>
                <h3>Usuarios</h3>
                <!-- -TABLA -->
                <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th>Editar</th>
                    <th>Username</th>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Contraseña</th> 
                    <th>Eliminar</th>    
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="user in users | filter:search">
                    <td >
                       <button class="btn btn-warning" data-ng-click="editUser(user.id)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button> 
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td > 
                        <button class="btn btn-warning" data-ng-click="cambiarContrasena(user.id)" >      
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </td>
                    <td > 
                        <button class="btn btn-danger" data-ng-click="deleteUser(user.id)" >      
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                </table>
                <!-- -END TABLA -->

                <hr>
                <button class="btn btn-success" ng-click="registrar()">
                <span class="glyphicon glyphicon-user"></span>  Crear Nuevo Usuario
                </button> 
                <br>                    
                <h4 ng-show="mensajeErrorRegistro">Error! Usuario o Correo en Uso</h4>
                <br> 
                <h4 ng-show="mensajeExitoRegistro">Usuario registrado con exito</h4> 
                <br> 
                <h4 ng-show="mensajeExitoEdicion">Usuario editado con exito</h4>
                <br> 
                <h4 ng-show="mensajeFalloEdicion">Edicion de Usuario Fallido</h4>
                <br> 
                <h4 ng-show="mensajeExitoCambiaPass">Contraseña editada con exito</h4>
                <br> 
                <h4 ng-show="mensajeFalloCambiaPass">Edición de Contraseña Fallida</h4>

                <hr>
                <hr>
                <hr>
<!-- MODAL 1 -->
                <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Username:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="username"  placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nombre Completo:</label>
                                        <div class="col-sm-5">
                                            <input  class="form-control" type="text" data-ng-model="fullname"  placeholder="Primer Nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="email"  placeholder="Primer Apellido">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Role:</label>
                                        <div class="col-sm-5">
                                           <select class="form-control" data-ng-model="role" ng-options="role.nombre for role in roles"></select>
                                        </div>                                            
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success" data-ng-disabled="incomplete2" id="confirm" ng-click="actualizarUser(user.id)" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
<!-- FINALIZA MODAL 1 -->

<!-- MODAL 2 -->
                <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Agregar Usuario</h4>
                            </div>
                            <div class="modal-body">

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Username:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="username"  placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nombre Completo:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="fullname"  placeholder="Nombre Completo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" data-ng-model="email" placeholder="e-mail">
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contraseña:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="password" data-ng-model="passw1" placeholder="Contraseña">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Repetir:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="password" data-ng-model="passw2" placeholder="Repetir Contraseña">
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Role:</label>
                                        <div class="col-sm-5">
                                           <select class="form-control" data-ng-model="role" ng-options="role.nombre for role in roles"></select>
                                        </div>                                            
                                    </div>
                                </form>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success" data-ng-disabled="error || incomplete" id="confirmUser" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-save" ></span>  Registrar Usuario
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
<!-- FINALIZA MODAL 2 -->

<!-- MODAL 3 -->
                <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">

                         <div class="modal-header">
                            
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="myModalLabel"> Eliminar usuario</h4>
                         </div>
                         <div class="modal-body">                                 
                         Confirme que desea eliminar este usuario del sistema 
                         </div>
                         <div class="modal-footer">
                           <button data-dismiss="modal" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <button data-dismiss="modal" class="btn btn-success" id="confirm"  >
                                            <span class="glyphicon glyphicon-ok"></span>
                            </button>
                           
                         </div>

                       </div>
                     </div>
                </div>
<!-- FINALIZA MODAL 3 -->

<!-- MODAL 4 -->
                <div id="Modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
                            </div>
                            <div class="modal-body">

                                <form class="form-horizontal">                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contraseña Nueva:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="password" data-ng-model="passw1" placeholder="Contraseña"> 8 caracteres mínimo
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Repetir Contraseña:</label>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="password" data-ng-model="passw2" placeholder="Repetir Contraseña">
                                        </div>
                                    </div>                                    
                                </form>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success" data-ng-disabled="error " id="confirmContrasena" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-save" ></span>  Confirmar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
<!-- FINALIZA MODAL 4 -->
            </div>
        </div>
    </div>
</div>




   
