<div class="content-bg" >
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                
                <ul class="nav nav-tabs" id="nav-tabs-docs">
                    <li ng-repeat="tab in tabs"><a data-target="{{tab.link}}" data-toggle="tab">{{tab.label}}</a></li>
                </ul>

            <div id="myTabContent" class="tab-content"> <!--inicia tabs -->
                    
                    <div class="tab-pane active in" id="home">
                     <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentos De Investigaciones</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                     <div class="row">
                                                <form role="form">
                                                    <div class="col-lg-12">

                                                        <div class ="form-group">
                                                            <h3>Buscar Documento:</h3>
                                                        </div>
                                                                                                   
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <input name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" ng-model="search.fecha">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                            </div>                                               
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <hr>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="info">
                                                        <th>Fecha</th>
                                                        <th>Nombre</th>
                                                        <th>Código</th>
                                                        <th>Rol</th>
                                                        <th>Tipo</th>
                                                        <th>Editar</th>
                                                        <th>Actualizar</th>
                                                        <th>Descargar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Investigación'}">
                                                        <td>{{ doc.fecha  }}</td>
                                                        <td>{{ doc.nombre }}</td>
                                                        <td>{{ doc.codigo  }}</td>
                                                        <td>{{ doc.Role }}</td>
                                                        <td>{{ doc.tipo }}</td>
                                                        <td>
                                                            <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button> 
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-success" ng-click="actVersionDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-remove" ></span>
                                                            </button>  

                                                        </td>
                                                    </tr>
                                                  </tbody>
                                                                                <!--Finaliza Tabla-->
                                            </table>

                            </div>           

                      </center>
                    </div>
            <!-- Termina primer pestaña-->
                    <div class="tab-pane" id="estudiante">
                        <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentos De Estudiantes</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                <form role="form">
                                                    <div class="col-lg-12">

                                                        <div class ="form-group">
                                                            <h3>Buscar Documento:</h3>
                                                        </div>
                                                                                                   
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <input id="dp2" name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" data-date-format="mm/dd/yy" ng-model="search.fecha">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                            </div>                                               
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <hr>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="info">
                                                        <th>Fecha</th>
                                                        <th>Nombre</th>
                                                        <th>Código</th>
                                                        <th>Rol</th>
                                                        <th>Tipo</th>
                                                        <th>Editar</th>
                                                        <th>Actualizar</th>
                                                        <th>Descargar</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Estudiante'}">
                                                        <td>{{ doc.fecha  }}</td>
                                                        <td>{{ doc.nombre }}</td>
                                                        <td>{{ doc.codigo  }}</td>
                                                        <td>{{ doc.Role }}</td>
                                                        <td>{{ doc.tipo }}</td>
                                                        <td>
                                                            <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button> 
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-success" ng-click="actVersionDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                                <span class="glyphicon glyphicon-remove" ></span>
                                                            </button>  

                                                        </td>
                                                    </tr>
                                                  </tbody>
                                                                                <!--Finaliza Tabla-->
                                            </table>
                            </div>           

                        </center>
                    </div>
            <!-- Termina segunda pestaña-->
                    <div class="tab-pane" id="papeleria">
                        <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documentos De Papelería</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                <form role="form">
                                        <div class="col-lg-12">

                                            <div class ="form-group">
                                                <h3>Buscar Documento:</h3>
                                            </div>
                                                                                       
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <input id="dp2" name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" data-date-format="mm/dd/yy" ng-model="search.fecha">
                                                </div>

                                                <div class="col-md-3">
                                                    <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                </div>                                               
                                            </div>
                                        </div>
                                </form>

                            </div>
                                <hr>

                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                            <th>Fecha</th>
                                            <th>Nombre</th>
                                            <th>Código</th>
                                            <th>Rol</th>
                                            <th>Tipo</th>
                                            <th>Editar</th>
                                            <th>Actualizar</th>
                                            <th>Descargar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Administrativo'}">
                                            <td>{{ doc.fecha  }}</td>
                                            <td>{{ doc.nombre }}</td>
                                            <td>{{ doc.codigo  }}</td>
                                            <td>{{ doc.Role }}</td>
                                            <td>{{ doc.tipo }}</td>
                                            <td>
                                                <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button> 
                                            </td>
                                            <td>
                                                <button class="btn btn-success" ng-click="actVersionDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                    <span class="glyphicon glyphicon-remove" ></span>
                                                </button>  

                                            </td>
                                        </tr>
                                      </tbody>
                                                                    <!--Finaliza Tabla-->
                                </table>
                            </div>           

                        </center>
                    </div>
            <!-- Termina tercer pestaña-->
                    <div class="tab-pane" id="correos">
                        <center>
                        
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Correos Electrónicos</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                <form role="form">
                                                    <div class="col-lg-12">

                                                        <div class ="form-group">
                                                            <h3>Buscar Documento:</h3>
                                                        </div>
                                                                                                   
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <input id="dp2" name="busqFecha" type="text" placeholder="Fecha" class="form-control" value="" data-date-format="mm/dd/yy" ng-model="search.fecha">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input id="busqNombre" name="busqNombre" type="text" placeholder="Nombre" class="form-control " ng-model="search.nombre">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input id="busqCod" name="busqCod" type="text" placeholder="Código" class="form-control " ng-model="search.codigo">
                                                            </div>                                               
                                                        </div>
                                                    </div>
                                                </form>

                            
                            </div>
                                            <hr>

                                    <table class="table table-striped">
                                        <thead>
                                            <tr class="info">
                                                <th>Fecha</th>
                                                <th>Nombre</th>
                                                <th>Código</th>
                                                <th>Rol</th>
                                                <th>Tipo</th>
                                                <th>Editar</th>
                                                <th>Actualizar</th>
                                                <th>Descargar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr data-ng-repeat="doc in docs | filter:search | filter:{clasificacion : 'Correo'}">
                                                <td>{{ doc.fecha  }}</td>
                                                <td>{{ doc.nombre }}</td>
                                                <td>{{ doc.codigo  }}</td>
                                                <td>{{ doc.Role }}</td>
                                                <td>{{ doc.tipo }}</td>
                                                <td>
                                                    <button class="btn btn-warning" ng-click="editDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button> 
                                                </td>
                                                <td>
                                                    <button class="btn btn-success" ng-click="actVersionDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" ng-click="abrirDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" ng-click="eliminaDoc(doc.id)">
                                                        <span class="glyphicon glyphicon-remove" ></span>
                                                    </button>  

                                                </td>
                                            </tr>
                                          </tbody>
                                                                        <!--Finaliza Tabla-->
                                    </table>
                            </div>           

                        </center>
                    </div>       
            <!-- Termina cuarta pestaña-->

            </div><!-- Terminan los tabs-->


                                    <!-- MODAL EDITAR-->
                                    <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                     <div class="modal-dialog">
                                       <div class="modal-content">

                                         <div class="modal-header">
                                            
                                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                           <h4 class="modal-title" id="myModalLabel"> Editar informacion de documento</h4>
                                         </div>
                                         <div class="modal-body">
                                         
                                         

                                         <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Nombre:</label>
                                                    <div class="col-sm-5">
                                                        <input class="form-control" type="text" data-ng-model="nombre" placeholder="Nombre">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Código:</label>
                                                    <div class="col-sm-5">
                                                        <input class="form-control" type="text" data-ng-model="codigo" placeholder="Código">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Tipo:</label>
                                                    <div class="col-sm-5">
                                                       <select class="form-control" data-ng-model="tipo" ng-options="tipo.nombre for tipo in tiposDocumento"></select>
                                                    </div>                                            
                                                </div>
                                                
                                               <!--  <div class="form-group">
                                                    <label class="col-sm-2 control-label">Seguridad:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" data-ng-model="seguridad">    
                                                            <option>Alta</option>
                                                            <option>Media</option>
                                                            <option>Baja</option>
                                                            <option>Ninguna</option>
                                                        </select>                                                 
                                                    </div>                                            
                                                </div> -->
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Rol:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" data-ng-model="Role" ng-options="Role.nombre for Role in roles"></select>
                                                    </div>                                            
                                                </div>
<!-- 
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Clasificación:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" data-ng-model="clasificacion">
                                                            <option>Investigación</option>
                                                            <option>Estudiante</option>
                                                            <option>Administrativo</option>
                                                            <option>Correo</option>          
                                                        </select>
                                                    </div>                                            
                                                </div> -->
                                            </form>
                                         
                                         </div>
                                         <div class="modal-footer">
                                           <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                           <button class="btn btn-success" data-ng-disabled="incomplete" id="confirm" data-dismiss="modal">
                                               <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
                                           </button>
                                         </div>

                                       </div>
                                     </div>
                                   </div>
                                    <!-- FINALIZA MODAL EDITAR-->   
                                   
                                    <!-- MODAL ACTUALIZAR-->
                                        <div id="Modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                         <div class="modal-dialog">
                                           <div class="modal-content-update">

                                                 <div class="modal-header">
                                                    
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel"> Actualizar version documento</h4>
                                                 </div>
                                                 
                                                 <!-- Empieza seccion de subida de archivo--> 
                                                        <div class="wrapper">                                      
                                                            <div class="upload-div">
                                                                
                                                                <div class="upload-buttons">
                                                                        <fieldset class="fielset-uploader"><legend>Subir Archivo</legend>
                                                                            <div class="up-buttons">
                                                                                <div ng-file-select ng-model="filesUpdate" class="upload-button" 
                                                                                       ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles" 
                                                                                       tabindex="0" class="ng-hide">Adjuntar una Imagen o PDF</div><br/>
                                                                                <button ng-file-select ng-model="filesUpdate" 
                                                                                        ng-multiple="false" class="btn btn-success" >Adjuntar cualquier archivo</button>
                                                                            </div>
                                                                            <div ng-file-drop ng-file-select ng-model="filesUpdate" ng-model-rejected="rejFiles"
                                                                                drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                                                                                ng-multiple="false" allow-dir="true" ng-accept="'image/*,application/pdf'">
                                                                                    Soltar imágenes o archivos PDF<div>O click para Seleccionar</div>
                                                                            </div>
                                                                            <div ng-no-file-drop class="drop-box">File Farg&Drop not supported on your browser</div>
                                                                        </fieldset>
                                                                        <br/>
                                                                </div>
                                                                <ul ng-show="rejFiles.length > 0" class="response">
                                                                    <li class="sel-file" ng-repeat="f in rejFiles">
                                                                        Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                                                                    </li>
                                                                </ul>
                                                                <ul ng-show="filesUpdate.length > 0" class="response">
                                                                    <li class="sel-file" ng-repeat="f in filesUpdate">
                                                                        <img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumb">
                                                                        <span class="progress" ng-show="f.progress >= 0">                       
                                                                            <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                                                                        </span>             
                                                                        <button class="button" ng-click="f.upload.abort();f.upload.aborted=true" 
                                                                                ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
                                                                        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                                                                        <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
                                                                        <div ng-show="f.showDetail">
                                                                            <br/>
                                                                            <div data-ng-show="f.result.result == null">{{f.result}}</div>
                                                                            <ul>
                                                                                <li ng-repeat="item in f.result.result">
                                                                                    <div data-ng-show="item.name">file name: {{item.name}}</div>
                                                                                    <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                                                                    <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                                                                    <div data-ng-show="item.value">value: {{item.value}}</div>
                                                                                </li>
                                                                            </ul>
                                                                            <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <br/>
                                                                <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                                                            </div>
                                                        </div>
                                            <!-- TERMINA seccion de subida de archivo--> 
                                                  <br>
                                                  <h4 ng-show="mensajeExitoSubidaDoc">Documento Subido con exito</h4>
                                                  <h4 ng-show="mensajeFallidoSubidaDoc">Subida Fallida del Documento</h4>

                                            </div>

                                           </div>
                                         </div>                                                        
                                    <!-- FINALIZA MODAL ACTUALIZAR-->


                                    <!-- MODAL ELIMINAR-->
                                        <!-- Esta comentado para hacer pruebas -->
                                        <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                               <div class="modal-content">

                                                 <div class="modal-header">
                                                    
                                                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   <h4 class="modal-title" id="myModalLabel"> Eliminar documento</h4>
                                                 </div>
                                                 <div class="modal-body">                                                         
                                                 Confirme que desea eliminar este documento del repositorio
                                                 </div>
                                                 <div class="modal-footer">
                                                   <button data-dismiss="modal" class="btn btn-danger">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                    </button>

                                                    <button data-dismiss="modal" class="btn btn-success" id="confirm">
                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                   
                                                 </div>

                                               </div>
                                             </div>
                                           </div>
                                    <!-- FINALIZA MODAL ELIMINAR -->                      
            </div>
        </div> 
    </div>
</div>

