<!--==============================content================================-->
<div class="content-bg">
    <div class="main">                  
        <div class="container_12">
            <div class="wrapper">                
				<h3>Reservas del dia</h3>
                                        
                <div class="input-group date form_date col-md-4" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
                    <input data-ng-model="fecha" class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                </div>

                <br><br> 
                  
                <button class="btn btn-success" ng-click="buscarPorFecha()">
                    <span class="glyphicon glyphicon-search"></span>  Consultar
                </button>

                <br><br>                
                                
		   	     <table class="table table-striped">
                  <thead>
                    <tr class="info">
                      <th>Estado</th>
                      <th>Solicitante</th>
					            <th>Nombre Reserva</th>
                      <th>Codigo Reserva</th>
                      <th>Tipo Reserva</th>
                      <th>Hora Reserva</th>
                      <th>Hora Entrega</th>
					         </tr>
                  </thead>
				          
                  <tbody>
                    <tr data-ng-repeat="reserva in reservas |orderBy:'horaInicio'">
                      
                        <div class="col-sm-5" ><td>
                          <select class="form-control" ng-init="mostrarEstado(reserva.estado_reserva, reserva.ID)" ng-model="nombresSelect[reserva.ID]" ng-options="opc.id as opc.nombre for opc in opcs" 
                          ng-change="setEstado(opcs[nombresSelect[reserva.ID]-1], reserva.idReserva)">
                          </select></td>
                        </div>
                    
                      <td>{{reserva .usuario}}</td>
					            <td>{{reserva .nombre}}</td>
                      <td>{{reserva .codigo}}</td>
                      <td>{{reserva .tipo}}</td>
                      <td>{{reserva .horaInicio}}</td>
                      <td>{{reserva .horaEntrega}}</td>
					         </tr>
				        </tbody>
                </table>
				        <hr>		                         
                <hr>							 
			</div>
		</div>
	</div>         
</div>
     
<script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap-datepicker2.js" charset="UTF-8"></script> 
		
