<!--==============================content================================-->
<div class="content-bg">
	<div class="main">
		<div class="container_12">
			<div class="wrapper">
				<div class="container">
					<div class="row clearfix">
						<h3>
							Enviar correspondencia
						</h3>

            <div class="col-md-12 column">
							<li>Destinatario:</li>
<!--							<input type="text" class="form-control" autofocus data-ng-model="destinatario" />-->
                  <tags-input ng-model="tags" display-property="username" placeholder="Destinatario" >
                      <auto-complete source="loadTags($query)" min-length="2" load-on-focus="true" load-on-empty="true" load-on-down-arrow="true" select-first-match="false"></auto-complete>
                  </tags-input>
						</div>

                    <!--    <div class="col-md-4 column">
                            <li>Enviar a Rol:</li>-->
<!--                            <label class="col-sm-2 control-label">Rol:</label>-->
<!--                            <div class="col-sm-4">-->
                              <!--  <select class="form-control" data-ng-model="role">
                                    <option>Ninguno</option>
                                    <option>Director</option>
                                    <option>Subdirector</option>
                                    <option>Asistente Administrativa</option>
                                    <option>Encargado de Maestría</option>
                                    <option>Personal Académico</option>
                                    <option>Secretaria</option>
                                    <option>Recepcionista</option>
                                    <option>Concerje</option>
                                    <option>Estudiante</option>
                                    <option>Todos</option>
                                </select>-->
<!--                            </div>-->
                      <!--  </div>-->

						<div class="col-md-12 column">
							<br><li>Asunto:</li>
							<input type="text" name="asunto" class="form-control" data-ng-model="asunto"></textarea>
						</div>
						<br>
						<div class="col-md-12 column">
              <br>
							<div class="up-buttons">
                    <button ngf-select ng-model="files" ngf-multiple="false" class="btn btn-success">Adjuntar Archivo</button>
              </div>
              <label class="col-sm-8 control-label" data-ng-model="docu">{{ docu }}</label>
						</div>
						<div class="col-md-12 column">
							<BR><li>Mensaje:</li>
							<textarea cols="130" rows="18" class="form-control" name="Mensaje" data-ng-model="mensaje"></textarea>
						</div>
					</div>
					<div class="row clearfix">
					</div>
					<div>
                        <br>
						<input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-info pull-left" data-ng-click="crearMensaje()">
						<h4 ng-show="mensajeExito">Mensaje Enviado</h4>
					<h4 ng-show="mensajeFallo">Mensaje No Enviado</h4>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="block"></div>
</div>
