<!--==============================content================================-->
<div class="content-bg">
    <div class="main">                  
        <div class="container_12">
            <div class="wrapper">
                <div class="container">
                    <h3>Respuesta Solicitud</h3>

                    <h3>Lista de solicitudes Pendientes</h3>

                    <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
	
                                <div class="modal-header">
								<h4>Respuesta a la Solicitud</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">
									<div class="form-group"> 
										<div class="left">
											<h5>Estado: </h5>
											<br>
											<div class="sideBySide">
												
												<span class="css3-metro-dropdown" >
													<select  data-ng-model="estado" >
														<option value="Pendiente" style="display: none">Pendiente</option>
														<option value="Aprobar"> Aprobar</option>
														<option value="Rechazar">Rechazar</option>
													</select>
												</span>
											</div>                                        
										</div>	
										<br>				
									
									<br>
									
										<textarea class="textAreaRol" data-ng-model="comentario" ></textarea>
									</div>
									</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="button" data-ng-click="enviarSolicitud()" class="btn btn-primary"> Enviar Respuesta</button>
                                </div>

                            </div>
                        </div>
                    </div>
				
                    <table class="table table-striped">
                        <thead>
                            <tr class="info">
                                <th>Documento</th>
                                <th>Asunto</th>
                                <th>Solicitante</th>
                                <th>Fecha</th>
								<th>Estado</th>
                                <th>Responder</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="solicitud in solicitudes" ng-if="solicitud.estado=='Pendiente'">
                                <td >

                                    <button class="btn btn-primary" ng-click="descargarSolicitud(solicitud.id)">
                                    	<span class="glyphicon glyphicon-file"></span>
                                    </button>
                                </td>
                                <td >{{ solicitud .nombre }}</td>
                                <td >{{ solicitud .solicitante}}</td>
                                <td >{{ solicitud .fecha}}</td>
								
								<td >
                                    <button   ng-class="setClassButton(solicitud.estado)"> 
                                         
                                        <span ng-class="setClassSpan(solicitud.estado)"></span> 
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-warning" data-backdrop="false" data-target="#Modal"  ng-click="setAt(solicitud.id,solicitud.solicitante, solicitud.nombre)" data-toggle="modal"> 
                                        <span class="glyphicon glyphicon-comment"></span> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>		                         
                    <hr>



                </div>
				<div class="container">
				<br>
				<br>
					<h3>Lista de solicitudes Revisadas Anteriormente</h3>
					<table class="table table-striped">
                        <thead>
                            <tr class="info">
                                <th>Documento</th>
                                <th>Asunto</th>
                                <th>Solicitante</th>
                                <th>Fecha</th>
								<th>Estado</th>
                                <th>Responder</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="solicitud in solicitudes" ng-if="solicitud.estado!='Pendiente'">
                                <td >

                                    <button class="btn btn-primary" ng-click="descargarSolicitud(solicitud.id)">
                                    	<span class="glyphicon glyphicon-file"></span>
                                    </button>
                                </td>
                                <td >{{ solicitud .nombre }}</td>
                                <td >{{ solicitud .solicitante}}</td>
                                <td >{{ solicitud .fecha}}</td>
								
								<td >
                                    <button   ng-class="setClassButton(solicitud.estado)"> 
                                         
                                        <span ng-class="setClassSpan(solicitud.estado)"></span> 
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-warning" data-backdrop="false" data-target="#Modal"  ng-click="setAt(solicitud.id,solicitud.solicitante, solicitud.nombre)" data-toggle="modal"> 
                                        <span class="glyphicon glyphicon-comment"></span> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
					
				</div>
			</div>
        </div>
    </div>
</div>