<!--==============================content================================-->
<div class="content-bg">
    <div class="main">                  
        <div class="container_12">
		    <div class="wrapper">
                				 
				<ul class="nav nav-tabs" id="nav-tabs-docs">
                    <li ng-repeat="tab in tabs"><a data-target="{{tab.link}}" data-toggle="tab">{{tab.label}}</a></li>
                </ul>
				
				                 
                    
           <!-----------------------------Modal-------------------------------->
		   
                    <div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
	
                                <div class="modal-header">
								<h4>Respuesta a la Solicitud</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">
									<div class="form-group"> 
										<div class="left">
											<h5>Estado: </h5>
											<br>
											<div class="sideBySide col-md-4">
												
												
													<select class="form-control selectpicker" data-ng-model="estado" >
														<option value="Pendiente" style="display:none" ng-selected="true">Pendiente</option>
														<option value="Aprobar"> Aprobar</option>
														<option value="Rechazar">Rechazar</option>
													</select>
												
											</div>                                        
										</div>	
										<br>				
									
									<br>
									</div>
									<div class="form-group"> 
									<br>
										<textarea class="textAreaRol" data-ng-model="comentario" ></textarea>
									</div>
									</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="button" data-ng-click="enviarSolicitud()" class="btn btn-primary"> Enviar Respuesta</button>
                                </div>

                            </div>
                        </div>
                    </div>
					<!------------------------------------Termina Modal----------------------------->
					 
				<div id="myTabContent" class="tab-content"> <!--inicia tabs -->
				 
				 <div class="tab-pane active in" id="home">
					<center>
				 
					<div class="panel panel-info">
						<div class="panel-heading">
                                <h3 class="panel-title">Lista de solicitudes Pendientes</h3>
						</div>
							<div class="panel-body">
							<br>
							<div class="row">
							<br>
							<table class="table table-striped">
								<thead>
									<tr class="info">
										<th>Documento</th>
										<th>Asunto</th>
										<th>Solicitante</th>
										<th>Fecha</th>
										<th>Estado</th>
										<th>Responder</th>
									</tr>
								</thead>

								<tbody>
									<tr data-ng-repeat="solicitud in solicitudes" ng-if="solicitud.estado=='Pendiente'">
										<td >

											<button class="btn btn-primary" ng-click="descargarSolicitud(solicitud.id)">
												<span class="glyphicon glyphicon-file"></span>
											</button>
										</td>
										<td >{{ solicitud .nombre }}</td>
										<td >{{ solicitud .solicitante}}</td>
										<td >{{ solicitud .fecha | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
										
										<td >
											<button   ng-class="setClassButton(solicitud.estado)"> 
												 
												<span ng-class="setClassSpan(solicitud.estado)"></span> 
											</button>
										</td>
										<td>
											<button class="btn btn-warning" data-backdrop="false" data-target="#Modal"  ng-click="setAt(solicitud.id,solicitud.solicitante, solicitud.nombre)" data-toggle="modal"> 
												<span class="glyphicon glyphicon-comment"></span> 
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						</div>
						</center>
                    </div>
					<!----------------------------Termina primer tab--------------------------->
                    
                    <div class="tab-pane" id="revisadas">
                        <center>
                          <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Lista de solicitudes Revisadas Anteriormente</h3>
                            </div>

                            <div class="panel-body">
                            <div class="row">
                                     <div class="row">
                                                <form role="form">
                                                    <div class="col-lg-12">

															<div class="container">
															<br>
															<br>
																<table class="table table-striped">
																	<thead>
																		<tr class="info">
																			<th>Documento</th>
																			<th>Asunto</th>
																			<th>Solicitante</th>
																			<th>Fecha</th>
																			<th>Estado</th>
																			<th>Responder</th>
																		</tr>
																	</thead>

																	<tbody>
																		<tr data-ng-repeat="solicitud in solicitudes" ng-if="solicitud.estado!='Pendiente'">
																			<td >

																				<button class="btn btn-primary" ng-click="descargarSolicitud(solicitud.id)">
																					<span class="glyphicon glyphicon-file"></span>
																				</button>
																			</td>
																			<td >{{ solicitud .nombre }}</td>
																			<td >{{ solicitud .solicitante}}</td>
																			<td >{{ solicitud .fecha  | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
																			
																			<td >
																				<button   ng-class="setClassButton(solicitud.estado)"> 
																					 
																					<span ng-class="setClassSpan(solicitud.estado)"></span> 
																				</button>
																			</td>
																			<td>
																				<button class="btn btn-warning" data-backdrop="false" data-target="#Modal"  ng-click="setAt(solicitud.id,solicitud.solicitante, solicitud.nombre)" data-toggle="modal"> 
																					<span class="glyphicon glyphicon-comment"></span> 
																				</button>
																			</td>
																		</tr>
																	</tbody>
																</table>
																</div>
                                               
															</div>
															
															 </form>

															</div>
															</div>
													</div>
												</div>
											</div>
										</div>	
										
									