<!--==============================content================================-->        
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
              <h3>Solicitud de Giras y Vacaciones</h3>
              <h2>Descargue la plantilla del documento, complete la plantilla con sus datos y cargue el archivo </h2>
                <br>
                <div class="container">
                   <div class="row">
                        <form role="form">
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button class="btn btn-info" ng-click="abrirSolicitud(1)">
                                        <span class="glyphicon glyphicon-download"></span>  Giras
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-info" ng-click="abrirSolicitud(2)">
                                        <span class="glyphicon glyphicon-download"></span>  Vacaciones
                                        </button>
                                    </div><br>
                                    

                                    <div class="upload-buttons">
                                        <fieldset class="fielset-uploader"><legend>Subir Archivo</legend>
                                            <div class="up-buttons">
                                                <button ngf-select ng-file-select ng-model="files" 
                                                ngf-multiple="false" ngf-accept="'*.pdf,*.doc,*.docx'" class="btn btn-success" >Adjuntar cualquier archivo
                                                </button>
                                            </div>

                                            <div ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles"
                                                ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                                                ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'*.pdf,*.doc,*.docx'" ngf-drop-available="dropAvailable">
                                                <div ng-hide="dropAvailable">File Drop not available</div>
                                                <div ng-show="dropAvailable">Soltar imágenes o archivos PDF</div>
                                                <div>O click para Seleccionar</div>    
                                            </div>
                                                                           
                                        </fieldset>
                                        <br/>
                                    </div>


                                </div>
                            </div>
                        </form> 
                    </div>
                </div>                       
            </div>
        </div>
    </div>
</div>
  
