<!--==============================content================================-->
<div class="content-bg">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
               <div class="container">
				   	<h3>Solicitud de Aula</h3>
                    
                    <li><a  href="#ControlReservas">Control reservas</a></li>
				   	<form>                        
						<div class="form-group">
			                <label for="dtp_input2" class="col-md-2 control-label">Fecha:</label>
			                <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
			                    <input data-ng-model="fecha" class="form-control" size="16" type="text" value="" readonly>
			                    
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			                </div>
							<input type="hidden" id="dtp_input2" value="" /><br/>
			            </div>
							
						</td>
						
						
						<td>					
    			   			<div class="form-group">
    			                   <label for="dtp_input3" class="col-md-2 control-label">Hora Inicio:</label>
    			                   <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
    			                       <input data-ng-model="horaInicio" class="form-control" size="16" type="text" value="" readonly>
    			                       
    			   					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
    			                   </div>
    			   				<input type="hidden" id="dtp_input3" value="" /><br/>
    			            </div>						  
						</td>
						
						<td>							
								
			   			<div class="form-group">
			                   <label  for="dtp_input4" class="col-md-2 control-label">Hora Entrega:</label>
			                   <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
			                       <input data-ng-model="horaEntrega" class="form-control" size="16" type="text" value="" readonly>
			                       
			   					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
			                   </div>
			   				<input type="hidden" id="dtp_input3" value="" /><br/>
			            </div>

			            <button ng-disabled="btnConsultar" class="btn btn-success"  ng-click="consultarAula()" disabled>
                    		<span class="glyphicon glyphicon-search" ></span>  Consultar
                    	</button>

                 
            
					</form>

					<hr>
                    
                    <hr>
					<h3>Resultados</h3>
                     <form>
						<table class="table table-striped">
                          <thead>
                            <tr class="info">
                              <th>Seleccion</th>
                              <th>Nombre</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="aula in aulas">
                              <td >
								<button class="btn btn-success" ng-click="modalConfirmacion(aula.id)">
                              		<span class="glyphicon glyphicon-ok"></span>
                            	</button>


			                    



                              </td>
                              <td >{{ aula.nombre }}</td>
                              
                            </tr>
						  </tbody>
                        </table>
					 </form>
                     <hr>		                         
                     <hr>
                              <!-- MODAL 3 -->
			                    <div id="Modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			                             <div class="modal-dialog">
			                                   <div class="modal-content">

			                                         <div class="modal-header">                                            
			                                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                                           <h4 class="modal-title" id="myModalLabel"> Confirmar Solicitud</h4>
			                                         </div>
			                                         <div class="modal-body">                                         
			                                         	<table class="table table-striped" >
												            <tbody>
				                                                    <tr>
				                                                        <td>Aula</td>
				                                                        <td>{{miReservable.nombre}}</td>
				                                                    </tr>
				                                                    <tr>
				                                                        <td>Hora Inicio</td>
				                                                        <td>{{horaInicio}}</td>
				                                                    </tr>
				                                                    <tr>
				                                                        <td>Hora Entrega</td>
				                                                        <td>{{horaEntrega}}</td>
				                                                    </tr>
				                                                    <tr>
				                                                        <td>Fecha</td>
				                                                        <td>{{fecha}} </td>
				                                                    </tr>
				                                                    
				                                                </tbody>
												          </table>
												        
			                                         </div>
			                                         <div class="modal-footer">
			                                                <button data-dismiss="modal" class="btn btn-danger">
			                                                                <span class="glyphicon glyphicon-remove"></span>
			                                                </button>

			                                                <button data-dismiss="modal" class="btn btn-success" id="confirm"> 
			                                                                <span class="glyphicon glyphicon-ok"></span>
			                                                </button>                                           
			                                         </div>

			                                   </div>
			                             </div>
			                    </div>
			                    <!-- FINALIZA MODAL 3 -->
                    
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap-datepicker2.js" charset="UTF-8"></script> 