<div class="content-bg">
    <div class="main">
      <div class="container_12">
          <div class="wrapper">             
                    <h3>Información Del Documento a Subir</h3>                                  
                        <div class="row clearfix">  

                            <div class="col-md-4 column">
                                <h3>Tipos Disponibles</h3>
                                <div class="sideBySide">
                                    <div class="left"> 
                                        
                                            <select class="form-control" ng-model="tipo" ng-options="tipo.nombre for tipo in tiposDocumento"></select>
                                        
                                    </div>                                        
                                </div>                                      
                            </div>

                            <div class="col-md-4 column">
                                <h3>Código del Documento</h3>
                                <div class="sideBySide">                                                                        
                                      <input class="form-control" type="text" ng-model="codigo" ng-show="codigofield" class="ng-hide"></input>
                                </div>
                                <br> 
                                <h4 ng-show="mensajeErrorCodigo">Codigo en uso</h4>                                     
                            </div>
                            <!-- <span class="css3-metro-dropdown">
                                            <select ng-model="tipo" ng-options="tipo.nombre for tipo in tiposDocumento"></select> -->
                                        
                        </div>
                    <br>
                    <br>

                    <h3>Subir Archivo</h3>

<!-- Empieza seccion de subida de archivo--> 
            <div class="wrapper">                                      
                <div class="upload-div">
                    
                    <div class="upload-buttons">
                            <fieldset class="fielset-uploader"><legend>Subir Archivo</legend>
                                <div class="up-buttons">
                                    <div ngf-select ng-model="files" class="upload-button" 
                                           ngf-multiple="false" ngf-accept="'*.pdf,*.doc,*.docx,*.xls,*.xlsx'" ng-model-rejected="rejFiles" 
                                           tabindex="0" ng-show="botonSubir" class="ng-hide">Adjuntar una Imagen o PDF</div><br/>
                                    <button ngf-select ng-model="files" 
                                            ngf-multiple="true" ngf-accept="'*.pdf,*.doc,*.docx,*.xls,*.xlsx'" ng-model-rejected="rejFiles" class="btn btn-success"  data-ng-disabled="incomplete2">Adjuntar varios archivos</button>
                                </div>
                                <div ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles"
                                    ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                                    ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'" ngf-drop-available="dropAvailable" ng-show="dragable" class="ng-hide">
                                    <div ng-hide="dropAvailable">File Drop no disponible</div>
                                    <div ng-show="dropAvailable">Soltar imágenes o archivos PDF</div>
                                    <div>O click para Seleccionar</div>    
                                </div>
                                
                            </fieldset>
                            <br/>
                    </div>
                    <ul ng-show="rejFiles.length > 0" class="response">
                        <li class="sel-file" ng-repeat="f in rejFiles">
                            Archivo Rechazado: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                        </li>
                    </ul>
                    <ul ng-show="files.length > 0" class="response">
                        <li class="sel-file" ng-repeat="f in files">
                            <img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumb">
                            <span class="progress" ng-show="f.progress >= 0">                       
                                <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                            </span>             
                            <button class="button" ng-click="f.upload.abort();f.upload.aborted=true" 
                                    ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
                            {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                            <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
                            <div ng-show="f.showDetail">
                                <br/>
                                <div data-ng-show="f.result.result == null">{{f.result}}</div>
                                <ul>
                                    <li ng-repeat="item in f.result.result">
                                        <div data-ng-show="item.name">file name: {{item.name}}</div>
                                        <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                        <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                        <div data-ng-show="item.value">value: {{item.value}}</div>
                                    </li>
                                </ul>
                                <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
                            </div>
                        </li>
                    </ul>
                    <br/>
                    <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                </div>
            </div>
<!-- TERMINA seccion de subida de archivo--> 

      <br>
      <br>
      <h4 ng-show="mensajeExitoSubidaDoc"><a ng-show="mensajeExitoSubidaDoc" href="#consultarDocumento">Documento Subido con exito en Seccion de {{ clasificacion }}</a></h4>       
      <h4 ng-show="mensajeFallidoSubidaDoc">Subida Fallida del Documento</h4>


<!-- MODAL-SUBIR  -->
              <div id="ModalSubir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">

                         <div class="modal-header">
                            
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="myModalLabel"> Subir documento</h4>
                         </div>
                         <div class="modal-body">                                                         
                         Confirme Que Desea Subir El/Los documento/s Al Repositorio
                         </div>
                         <div class="modal-footer">
                           <button data-dismiss="modal" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <button data-dismiss="modal" class="btn btn-success" id="confirmSubir">
                                            <span class="glyphicon glyphicon-ok"></span>
                            </button>
                           
                         </div>

                       </div>
                     </div>
                </div>
 <!-- TERMINA MODAL-SUBIR  -->

      </div>                
    </div>       
  </div>
</div>